@import "normalize";
@import "variables"; //Global
@import "mixins";

//Variables
@x-spacing: 	7.5rem;
@y-spacing: 	7.5rem;

@font-size-h1: 		6rem;
@font-size-h2: 		4rem;
@font-size-h3: 		3rem;
@font-size-h4: 		2.3rem;
@font-size-h5: 		1.5rem;
@font-size-p: 		1.1rem;

body {
	max-width: 1440px;
	margin: 0 auto;
	background-color: @color-grey-light;
}

main {
	background-color: @color-white;
}


/* TYPOGRAPHY */

h1, h2 {
	line-height: 1.3;
}

h3, h4 {
	line-height: 1.5;
}

p {
	font-size: @font-size-p;
	line-height: 1.5;
}

.underline {
	margin-bottom: 3rem;
}

.has-huge-font-size {
	font-size: @font-size-h2;
}

.has-large-font-size {
	font-size: @font-size-h4;
}

.has-medium-font-size {
	font-size: @font-size-h5;
}

/* BLOCKQUOTE / PULLQUOTES */

.wp-block-pullquote, .wp-block-pullquote.is-style-default {
	
	blockquote {
		
		p {
			font-size: @font-size-h4;
		}

	}

}

/* IMAGES */


.wp-block-image {
	margin: 0;

	&.full-image {
		width: calc(100% + 2*@x-spacing);
		margin-left: -@x-spacing;

		img {
			width: 100%;
		}
	}

}

/* BUTTONS */

/* FORMS */

/* BLOCK COLUMNS */

.wp-block-columns.two-columns, .two-columns {

	.flex-display();
	.flex-flow(row nowrap);
	.align-items(center);


	.wp-block-column, .column {
		flex-basis: 50%!important;

		h2 {
			font-size: @font-size-h2;
		}
	
		h3 {
			font-size: @font-size-h4;
		}

	}
		

	&.align-center {
		.align-items(center)!important;
	}

	&.text-image {

		.align-items(flex-start);

		.wp-block-column {

			.wp-block-image {
				margin-left: 3.75rem;
				width: calc(100% + 3.75rem);

				img {
					width: 100%;
				}

				figcaption {
					padding-left: 3.75rem;
					padding-right: 3.75rem;
				}

			}
		}
		
	}

	&.image-text {

		.align-items(flex-start);

		.wp-block-column {

			&:last-child {
				h3, p {
					padding-left: 3.75rem;

					&:after { //underline
						left: 3.75rem;
					}

				}
			}
			
			.wp-block-image {
				margin-left: -@x-spacing!important;
				width: calc(100% + @x-spacing);

				img {
					width: 100%;
				}

				figcaption {
					padding-left: @x-spacing;
				}

			}

		}

	}
	
	&.text-text {

		.align-items(flex-start);

		.wp-block-column {

			&:last-child {
				h3, p {
					padding-left: 3.75rem;

					&:after { //underline
						left: 3.75rem;
					}

				}

			}
			
		}

	}
	
}

.wp-block-columns.three-columns, .three-columns {

	.flex-flow(row nowrap);
	.align-items(flex-start);

	.wp-block-column {
		flex-basis: 33%;
	}
	
}

/* BLOCK GROUPS */

.wp-block-group {

	&.intro {
		margin: 0 -@x-spacing;
		padding: @y-spacing @x-spacing;
	}

	&.index {

		h2 {
			font-size: @font-size-h2;
		}

		.wp-block-columns {

			.wp-block-column {
				padding: 3.75rem;
				flex-basis: 50%!important;

				h3 {
					font-size: @font-size-h4;
				}

			}

			&.second-row {
				position: relative;
				background-color: @color-black;
				 
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 50%;
					width: calc(50% + 7.5rem);
					height: 100%;
					background-color: @color-black;
					z-index: 0;
				}

				.wp-block-column {
					position: relative;
					z-index: 1;

					&:nth-child(2) {
						margin-right: 0;
						
						h3 {
							font-size: @font-size-h3;
						}
						
						.learn-more {
							max-width: 360px;
						
						}
					
					}
				
				}
			
			}

		}

	}

	&.infographic {
		margin: 3.75rem 0;
		padding: @y-spacing @x-spacing;

		p {
			font-size: @font-size-h5;
			margin: 0;
		}
		
		.zoom {

			&:after {
				content: url("../img/curved-arrow.svg");
				width: 80px;
				transform: scaleY(-1) rotate(30deg);
				position: relative;
				left: 2rem;
				bottom: 0;
			}
		}

		.wp-block-image {
			margin-top: 0;

			img {
				max-width: 120%;
				transform: rotate(5deg) translateX(10rem) translateY(3.75rem);
			}

		}

	}

	&.section-header {

		width: calc(100% + 2*@x-spacing);
		margin-left: -@x-spacing;

		.wp-block-columns {

			&:first-child {

				.align-items(flex-end);
	
				.wp-block-column {

					&:first-child {
						padding: @y-spacing 0 @y-spacing @x-spacing;
					}

					&:nth-child(2) {
						flex-basis: calc(50% - 3.75rem)!important;
						padding: @y-spacing @x-spacing @y-spacing 3.75rem!important;
		
					}

				}

			}

			&:nth-child(2) {

				.wp-block-column {
					
					&:first-child {
						padding-left: @x-spacing;
					}
					&:nth-child(2) {
						padding-right: 3.75rem;
						padding-left: 3.75rem;
					}
					&:nth-child(3) {
						padding-right: @x-spacing;
					}

				}

			}

		}
		
	}

}

/* HEADER */

header.main-header {
	
	div.identity {

		h1.logo {
			margin: 0 0.5em 0 @x-spacing;
		}

	}
	
}

/* Coming soon */
.soon {
	padding: 0 @x-spacing;
	height: calc(100vh - 6rem);
	
	h2 {
		font-size: @font-size-h1;
		width: 40%;
	}

	p {
		font-size: @font-size-h5;
		width: 60%;
	}
}

/* MW TOOLS */
.single-mw-tools {
	header {
		//height: calc(100vh - 6rem);
		div.cover-content {
			width: 50%;
			padding: @x-spacing;

			h1 {
				font-size: @font-size-h1;
			}

			h2 {
				font-size: @font-size-h4;
			}

			span {

				&.author {
					left: @x-spacing;
				}

			}
		}

	}
    
	div.content {

		margin: 0 0 @y-spacing 0;
		padding: 0 @x-spacing;

		h2 {
			font-size: @font-size-h3;
		}

	}
}

/* FOOTER */

footer.main-footer {
	padding: 0 0 @y-spacing 0;
	overflow: hidden;

	.two-columns {
		position: relative;

		.flex-flow(wrap);
		.align-items(flex-start);

		.column {
			padding: @y-spacing @x-spacing;
			flex-basis: calc(50% - @x-spacing)!important;
			&:nth-child(2) {
				padding: @y-spacing 0;
				position: absolute;
				right: 0;
				height:100%;
				width: calc(50% - @x-spacing);
				//flex-basis: calc(50% - @x-spacing)!important;
				background-color: @color-yellow-light;
			}

			&:nth-child(3) {
				padding: 0 @x-spacing;
			}

		}

		h2 {
			font-size: @font-size-h3;
		}
	
		h3 {
			font-size: @font-size-h5;
		}

	}


	div.subscription-form {
		padding: @y-spacing @x-spacing;
		margin: 0;

		h4 {
			font-size: @font-size-h4;
		}

	}

}


//@media screen and (min-width: 1420px) {
//    .wrapper {
//        max-width: 1024px;
//    }
//}