/* BODY AND MAIN*/

body {
	// background-color: var(--color-grey-dark);
	&.home {
		main {
			max-width: 100vw;
		}
	}
}

main {
	background-color: var(--color-white);
	// overflow: auto;
}

.max-width {
	max-width: var(--main-width);
}

.max-width-pad {
	max-width: var(--main-width-pad);
}

.margin-auto {
	margin: 0 auto;
}

/* TYPOGRAPHY */
.text-biggest {
    font-size: var(--font-size-biggest);
}

main {
    > h1 {}
    > h2 {
        font-size: var(--font-size-biggest);

    }
}


/* BUTTONS */
button, .button {
	font-weight: bold;
}

div.buttons {
    button, .button {
        &:first-child {
        }

        &:last-child {
        }
    }
}


/* FORMS */
form {
	display: flex;
	flex-flow: column nowrap;

	input[type="submit"] {
		width: 50%;
	}
}


// COMMENTS FORM
section.comments {
	padding: var(--spacing-y);


}

/* HEADER */

header.main-header {
	// NOTE: Temporary centering
	width: var(--main-width-pad);
	margin: 0 auto;

	.logo {
		img {
			width: 15rem;
		}
	}

	button.nav {
		&.close {
            margin-top: .5rem;
        }
	}

	nav.main-nav {
		a.logo {
            margin-top: -.5rem;
        }
	}

}


/* HOME */
body.home {
	// header.main-header {
	// 	max-width: var(--main-width);
	// 	margin-left: @center-padding;
	// 	margin-right: @center-padding;
	//
	// 	.logo {
	// 		margin-left: 0;
	// 		margin-top: 12rem;
	// 	}
	// 	button.nav {
	// 		margin-right: 0;
	// 	}
	// }

	main {
		// NOTE: Temporary centering
		width: var(--main-width-pad);
		margin: 0 auto;

		section.about {
			header {
				background-size: cover;
				margin-bottom: 1em;

				// NOTE: Temporary centering
				margin-left: @center-margin;
                margin-right: @center-margin;

				div.container {
					flex-flow: row wrap;
					align-items: center;

					max-width: var(--main-width);
                    margin: 0 auto;
				}

				h1.logo {
                    flex: 0 0 100%;

					img {
                        width: 15rem;
                    }
				}

				h2 {
					flex: 0 0 50%;
	                font-size: var(--font-size-bigger);
					// margin-right: 1em;
					// margin-bottom: .5em;
	            }
				h3 {
					flex: 0 0 50%;
					font-size: var(--font-size-biggish);
					font-weight: 500;
					line-height: 1.5em;
				}
			}

        }

		section.latest-work {
			margin-top: -10rem;
		}

		aside.cta {

            p {
                font-size: var(--font-size-biggish);
            }

            a.button {
                width: 50%; padding-left: 0; padding-right: 0;
                margin-top: 1rem;
            }
        }

		section.team {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;

            header {

                h2 {
					font-size: var(--font-size-bigger);
                }
            }

            article {
				margin-bottom: 2rem;
				flex: 0 0 25rem;
				padding: 2rem;

				header {

					h3 {
						font-size: var(--font-size-biggish);
	                }
					p {
                        font-size: var(--font-size-p);
                    }
				}

                figure {
                }

            }


        }
	}
}

//
section.latest-work {
    margin: 0 var(--spacing-x) var(--spacing-x) var(--spacing-x);
	height: 35rem;
	max-width: calc( var(--main-width) + var(--spacing-x) );
	// max-width: 960px;

    flex-flow: row nowrap;

    header {
		position: absolute; z-index: 999;
		right: 0; top: 0; left: 0; //left: 50%;
		padding: 2rem var(--spacing-y);
    }

    div.row.column {
		padding: var(--spacing-y) var(--spacing-y);

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		&:first-of-type {
			order: 0;
			flex: 1 1 50%;
		}

		&:last-of-type {
			 order: 2;
			 flex: 1 1 50%;
		}

    }

    h2 {
		margin-top: 5rem;
		font-size: var(--font-size-title);
    }


    h3 {
		margin: 5rem 0;
		font-size: var(--font-size-bigger);
    }

}

/* FOOTER */
footer.main-footer {
	max-width: var(--main-width);
	padding: var(--spacing-x) var(--spacing-x);

	// NOTE: Temporary centering
	padding-left: @center-padding;
	padding-right: @center-padding;

    div.identity {

        h1.logo {
			img {
				width: 15rem;
			}
		}

		h2 {
            font-size: var(--font-size-biggest);
        }

        h3 {
            font-size: var(--font-size-big);
			font-weight: 300;
			line-height: 1.5;
        }
	}

	div.form {
		padding: var(--spacing-y);

		&:before {
			font-size: var(--font-size-biggest);
		}

        h4 {
            font-size: var(--font-size-bigger);
		}

		p.email-link {
            &:before {
				font-size: var(--font-size-biggest);
			}
		}

	}

	div.so-me {
		a.icon {
            font-size: var(--font-size-biggest);
		}
	}

}
