/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: var(--color-black);
    padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */

/* HELPERS */

.no-margin {
	margin: 0!important;
}

.aligncenter {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}

.icon-size (@width) {
    width: @width;
    height: @width;
}

.overflow-hidden {
	overflow-y: hidden;
}


/* BODY AND MAIN*/
html {
    // scroll-behavior: smooth;
}

body {
	font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: var(--color-black);
	overflow-x: hidden;
    margin: 0 !important; // NOTE: Weird 8px margin bug
    padding: 0 !important;
}

main {
	position: relative;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

// TODO: Check how these following styles (h1 ... h5) affect the global styles
h1 {
	font-weight: 500;
	line-height: 1.1;

	b, strong {
		font-weight: 700;
	}
}

h2, h3, h4, h5 {

	font-weight: 400;
	line-height: 1.3;

	b, strong {
		font-weight: 700;
	}
}

sup {
    padding: 1rem;
    margin: -1rem;
    cursor: pointer;

    // text-decoration: underline;
    // background-color: yellow;
    color: var(--color-coral);

    &:hover {
        text-decoration: underline;
    }

}

.title {
    font-size: var(--font-size-title);
    font-weight: 600;
    line-height: 1;
}

.sub-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;

    span& {
        display: block;
    }
}

.text-biggest {
    font-size: var(--font-size-bigger);
    font-weight: 500;
}

.text-small {
    font-size: var(--font-size-small) !important;
    font-weight: 300 !important;
}

hgroup {
    &.reverse {
        display: flex;
        flex-flow: column-reverse nowrap;
    }
}

p {
	font-size: var(--font-size-p);
	line-height: 1.5;

	&.footnote {
		color: var(--color-grey-darker);
		font-size: 1rem;
	}

	a {
		color: var(--color-black);
	}

}

mark {
    background-color: @color-yellow-light;
    font-weight: 500;
}

main {
    > h1 {}
    > h2 {
        font-size: var(--font-size-bigger);
        padding-bottom: .5em;
    }
}

/* BUTTONS */
button, .button {
    display: inline-block;

    background-color: transparent;
    border: .1rem solid @color-black;
    border-radius: 0.2em;

    font-size: var(--font-size-small);
    font-weight: 500;
    color: @color-black;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;

    padding: 0 1em;

	transition: 0.3s;
	cursor: pointer;

    &.small {
        // border: 0;
        // text-indent: -10000px;
        line-height: 2em;
        padding: 0 .5em;
    }

    //
    &.close {
        // background: transparent url("../img/bkg-button-close.svg") no-repeat !important;
        background: transparent url("img/bkg-button-close.svg") no-repeat;
        background-position: center left;
        background-size: 1em;
        // background-size: contain;

    }

    &.open {
        background: transparent url("img/icon-open-black.svg") no-repeat;
        background-position: 1em center;
        background-size: 1em;
    }

}

div.buttons {
    display: flex;
    flex-flow: row nowrap;
    background-color: inherit;
    border-radius: 0.2em;

    button, .button {
        flex: 1 1 auto;

        &:first-child {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            background-color: @color-black;
            color: @color-white;
        }
    }
}

/* IMAGES */
figure {
    // Reset styles
    padding: 0;
    margin: 0;
}

/* FORMS */

form {
    input, textarea {
    	font-weight: 500;
        font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        color: @color-black;

    	border: 1px solid @color-black;
    	border-radius: 0.2em;
    	background-color: transparent;
    	padding: 1em;
    	margin: .5rem 0;

        box-sizing: border-box;
        width: 100%;

        -webkit-appearance: none;

    	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    		color: @color-black;
    		opacity: 1; /* Firefox */
    	  }

    	  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    		color: @color-black;
    	}

    	&:-ms-input-placeholder { /* Microsoft Edge */
    		color: @color-black;
    	}
    }

    input[type="submit"] {
        font-weight: 600;
        color: @color-white;

        background-color: @color-black;
        margin-top: 1em;
    }

    textarea {
        line-height: 1.5;
    }
}

// COMMENTS FORM
section.comments {
    background-color: @color-grey-light;
    padding: var(--spacing-x);
    margin-bottom: var(--spacing-y);

    header {
        margin-bottom: 1rem;

        h3 {
            font-size: var(--font-size-big);
            font-weight: 500;
            padding: 1.5em 0 .5em;

            background: transparent url("img/icon-comment.svg") left top no-repeat;
            background-size: 1.5em;
        }

        p {
            font-size: var(--font-size-small);
        }
    }
}

/* GRID */
.two-columns {
	.flex-display();
	.flex-flow(column);
}

.column {
	flex-basis: 100%;
}

/* HEADER */
header.main-header {
	height: var(--main-header-height);
    background-color: @color-white;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .logo {
        margin: 0 0.5em 0 var(--spacing-x);
        display: block;

        span {
            display: none;
        }

    }

    button.nav {
        margin-right: var(--spacing-x);

        border: 0;
        height: 1.5rem; width: 1.5em;
        padding: 0;

        background-color: transparent;
        background-image: url("img/icon-burger-black.svg");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;

        > span {
            display: none;
        }

        &.open {}

        &.close {
            background-image: url("img/icon-cross-white.svg");

            position: absolute;
            top: var(--spacing-y);
            right: 0;
            margin-top: -.5rem;
        }
    }

    nav.main-nav {
        box-sizing: border-box;

        position: fixed;
        // top: var(--main-header-height); right: 0; bottom: 0; left: 0;
        top: 0; right: 200vw; bottom: 0; left: 100vw;
        width: 100%;
        z-index: 99999;
        overflow-y: scroll;
        overscroll-behavior: contain;

        background-color: @color-black;
        color: @color-white;

        padding: var(--spacing-y) var(--spacing-x);

        transition: transform .5s ease;

        a.logo {
            margin: -5rem 0 var(--spacing-y) 0;
            display: inline-block;
        }

        ul {
            list-style: none;
            padding: 0; margin: 0;
            margin-bottom: 2rem;

            > li {
                font-size: var(--font-size-biggish);
                margin-bottom: 1em;

                a {
                    color: @color-white;
                    text-decoration: none;
                }

                ul {
                    margin: 1em 0 0 1em;

                    li {
                        font-size: var(--font-size-p);
                    }
                }
            }
        }

        div.so-me {}

        &.opened {
            transform: translateX(-100vw); // Show it
        }
    }
}

div.so-me {
    .flex-display();
    .flex-flow(row nowrap);
    .align-items(center);

    margin-bottom: 1em;

    a.icon {
        position: relative;

        font-size: var(--font-size-bigger);
        color: var(--color-white);
        text-decoration: none;

        margin: 0 .5rem;

        &:first-child {
            margin-left: 0;
        }
    }

    a.privacy {
        color: var(--color-white);
        margin-left: auto;
    }
}

/* SIDEBAR */
aside.sidebar {

}

/* BLOCKS */
.block {
    .dark {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}

/* BLOCKS SIDENOTE */ // TODO: Check if this os still needed

// .block-side-note {
// 	display: none;
// 	position: fixed;
// 	top: calc(25% - var(--spacing-x));
// 	left: 0;
// 	z-index: 1;
//
// 	margin: var(--spacing-y) var(--spacing-x);
// 	width: calc(100% - 2*var(--spacing-x));
// 	max-height: 50%;
// 	overflow: auto;
//
// 	background-color: var(--color-white);
// 	border-radius: 4px;
//
// 	p {
// 		position: relative;
// 		margin: 0 auto;
// 	}
//
// }

//OVERLAY SLIDE
// SLIDE
aside.slide {
    position: fixed; z-index: 99999;
    left: 0; right: 0;
    top: 0; bottom: 0;

    background-color: var(--color-black);
    overflow-x: hidden;
    overflow-y: scroll;

    transform: translateX(100vw); // Hide it
    width: auto;

    figure {
        width: 100%;

        img {
            width: inherit;
        }
    }

    div.buttons {
        position: fixed;
        // position: sticky;
        right: 0; top: 0;
        overflow: hidden;

        background-color: white;
    }

    &.started {
        transition: transform .5s ease;
    }

    &.opened {
        transform: translateX(0vw);
    }

    // DESKTOP for SLIDE
    @media @desktop {
        left: auto;
        max-width: var(--main-width-pad);

    } // desktop styles

}


/* HOME */
body.home {
    header.main-header {
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        width: 100%;

        > .logo {
            visibility: hidden;
        }
    }

	main {
        section.about {
            padding: 0 var(--spacing-x) var(--spacing-y) var(--spacing-x);

            header {
                background: transparent url("/img/cover-mind.jpg") no-repeat;
                background-position: center right;
                background-size: 200%;
                margin-left: calc(-1 * var(--spacing-x));
                margin-right: calc(-1 * var(--spacing-x));
                // padding: var(--spacing-y) var(--spacing-x);

                height: 40rem;

                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                div.container {
                    display: flex;
                    flex-flow: column nowrap;

                    padding: var(--spacing-y) var(--spacing-x);
                }

                h1.logo {
                    margin-bottom: 2rem;

                    span {
                        display: none;
                    }
                }

                h2 {
                    margin-bottom: 1em;
                    font-weight: 500;
                    color: @color-white;

                    > span {
                        // background-color: @color-yellow-light;
                        // padding: 0 .3em;
                        display: inline-block;
                        white-space: nowrap;
                        margin-bottom: .1em;

                    }
                }

                h3 {
                    padding-bottom: 1em;
                    font-size: var(--font-size-p);
                    // color: @color-white;
                }
            }

        }

        section.latest-work {
            margin-top: -8rem;
        }

        aside.cta {
            padding: 0 var(--spacing-x) var(--spacing-y) var(--spacing-x);

            p {
                font-size: var(--font-size-p);
                padding-bottom: 1em;
            }

            a.button {
                background-color: @color-yellow-light;
                display: block;
                margin-top: 1rem;
            }
        }

        section.team {
            padding: 0 var(--spacing-x) var(--spacing-y) var(--spacing-x);

            > header {
                margin-bottom: 2rem;

                h2 {
                    font-weight: bold;
                    padding-bottom: 1em;
                }
            }

            article {
                margin-bottom: 1rem;
                background-color: @color-grey;
                padding: var(--spacing-x);
                border-radius: 0.2em;
                overflow: hidden;

                header {
                    margin-bottom: 1rem;

                    h3 {
                        font-weight: bold;
                    }
                    p {
                        font-size: var(--font-size-small);
                    }
                }

                figure {
                    float: left;
                    margin-bottom: 1rem;
                    margin-right: 1rem;

                    background-color: @color-black;
                    width: 5rem; height: 5rem;
                    border-radius: 100%;
                    overflow: hidden;

                    img {
                        width: inherit; height: inherit;
                    }
                }

                a.button {
                    display: block;
                    clear: both;
                }

            }


        }

	}

}

//
section.latest-work {
    position: relative;
    overflow: hidden;
    margin: var(--spacing-x) var(--spacing-x) var(--spacing-y) var(--spacing-x);

    display: flex;
    flex-flow: column nowrap;

    >*, h2 { // All children
        position: relative; z-index: 99;
    }

    header {
        background-color: var(--color-coral);
        // background-image: url("/img/icon-curved-arrow-black.png");
        // background-repeat: no-repeat;
        // background-position: top 2rem right var(--spacing-x);
        // background-size: 2.5rem;

        padding: 2rem var(--spacing-x);

        h1 {
            font-size: var(--font-size-small);
            text-transform: uppercase;
            letter-spacing: .15em;
            font-weight: 300;
        }
    }

    div.row.column {
        background-color: var(--color-black);
        padding: var(--spacing-y) var(--spacing-x);
    }

    h2 {
        font-size: var(--font-size-biggest);
        font-weight: 500;
        line-height: 1em;
        color: var(--color-coral);

    }

    figure {
        position: absolute; z-index: 9;
        left: 0; top: 0;
        overflow: hidden;
        height: 100%;

        img {
            display: block;
            padding: 0;
            margin: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3 {
        font-size: var(--font-size-biggish);
        color: var(--color-coral);
        margin-bottom: 2rem;
    }

    a.button {
        display: block;
        background-color: var(--color-coral);

    }

}


/* FOOTER */

footer.main-footer {
    background-color: var(--color-black);
    padding: var(--spacing-y) var(--spacing-x);

    div.identity {
        color: var(--color-white);
        margin-bottom: var(--spacing-y);

        h1.logo {
            margin-bottom: var(--spacing-y);

            a.logo {
                span {
                    display: none;
                }
            }
        }

        h2 {
            color: var(--color-yellow-light);
            font-size: var(--font-size-big);
            font-weight: 500;

            margin-bottom: 1em;
        }

        h3 {
            font-size: var(--font-size-p);
            font-weight: 300;
        }

    }

    div.form {
        background-color: var(--color-yellow-light);
        padding: var(--spacing-y) var(--spacing-x);
        margin-bottom: var(--spacing-y);

        &:before {
			content: "\e90a";
			font-family: "icomoon";
			font-size: var(--font-size-bigger);
		}

        h4 {
            font-size: var(--font-size-big);
            font-weight: 500;
            margin-bottom: 1em;
        }
        > p {
            margin-bottom: 1em;
        }

        form {
            margin-bottom: var(--spacing-y);
        }

        p.email-link {
            display: block;
			position: relative;

			font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: var(--font-size-p);

            display: flex;
    		flex-flow: row nowrap;
            align-items: center;


            &:before {
				font-family: "icomoon";
				font-size: var(--font-size-bigger);
                margin-right: .5rem;
			}

			a {
				text-decoration: none;
				color: var(--color-black);

                strong {
                    display: block;
                }
			}
        }
    }

    div.so-me {

        a.privacy {
            color: var(--color-white);
            margin-left: auto;
        }
    }


}
