@import "normalize";
@import "variables"; //Global
@import "mixins";

//Variables
@x-spacing: 	1.5rem;
@y-spacing: 	3rem;

@font-size-title: 	2rem;
@font-size-h1: 		2.3rem;
@font-size-h2: 		1.8rem;
@font-size-h3: 		1.6rem;
@font-size-h4: 		1.4rem;
@font-size-p: 		1.1rem;

/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;

	margin-top: 0!important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
	 Browser Upgrade Prompt
	 ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: @color-black;
	padding: 0.2em 0;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
body {
	font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: @color-black;
	overflow-x: hidden;
	//background-color: @color-black;
}

/* TYPOGRAPHY */

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 500;
}

h3, h4 {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

.has-large-font-size {
	font-size: @font-size-p;
	font-weight: 500;
}

.has-medium-font-size {
	font-size: @font-size-p;
}

/* PULLQUOTES */

.wp-block-pullquote, .wp-block-pullquote.is-style-default {
	position: relative;
	margin: 6rem 0 4rem 0;
	font-size: @font-size-h2;
	font-style: italic;
	&:before {
		content: "";
		position: absolute;
		width: 120px;
		height: 7px;
		top: -30px;
		background-color: @color-black;
	}
	blockquote {
		margin: 0;
	}
}

/* IMAGES */

.wp-block-image {
	margin: 0;
	img {
		max-width: 100%;
		height: auto;
	}
}

/* BUTTONS */
.wp-block-buttons {
	.flex-display();
	.flex-flow(column);
	.wp-block-button, .button {
		display: inline-flex;
		margin: .5rem 0;
		a {
			width: 100%;
			font-size: @font-size-p;
			font-weight: 600;
			text-align: center;
			border-radius: 10px;
			border: 2px solid @color-black;
			padding: .7rem 1.5rem;
		}
		&.zoom {
			a {
				background-color: @color-black;
				color: @color-white;
			}
		}
	}
}

/* BLOCK COLUMNS */

.wp-block-columns {
	.flex-display();
	.flex-flow(column);
	&.two-columns {
		.wp-block-column {
			flex-basis:100%!important;
		}
	}
	
}

/* BLOCK GROUPS */

.wp-block-group {
	&.call-to-action-infographic {
		padding: @y-spacing @x-spacing;
		background-color: @color-blue-light;

		h3 {
			font-weight: 500;
		}
	}
}

/* HELPERS */

.aligncenter {
	display: block;
	text-align: center;
	margin: 0 auto;
}


/* HEADER */

header.main-header {
	height: 6rem;

	.flex-display();
	.flex-flow(row nowrap);
	.align-items(center);

	&.bgWhite {
		background-color: @color-white;
	}

	&.bgBlack {
		background-color: @color-black;
	}

	div.identity {

		.flex-display();
		.flex-flow(row nowrap);
		.align-items(center);

		flex-grow: 1; //Push navigation to the right
	}

	h1.logo {
		margin: 0 0.5em 0 @x-spacing;
		a {
			span {
				display: none;
			}
			img {
				display: block;
				width: 10rem;
			}
		}
	}

	nav.main-nav {
		ul.menu {
			padding-left: 0;
			margin-right: @x-spacing;

			.flex-display();
			.flex-flow(row nowrap);

			li {
				list-style-type: none;
				margin: 0 0.5em;
				&:last-of-type {
					margin-right: 0;
				}
				a {
					color: #888;
					text-decoration: none;
					font-weight: 600;
					&:hover {
						color: inherit;
						transition: color .3s ease;
					}
				}
			}
		}
	}
}

/* Coming soon */
.soon {

	.flex-display();
	.flex-flow(column);
	.justify-content(center);

	background-color: @color-black;
	min-height: calc(100vh - 6rem);
	padding: 0 @x-spacing;
	color: @color-white;

	h2 {
		font-size: @font-size-h1;
		margin: 1.5rem 0 0 0;
		width: 90%;
	}

	p {
		font-size: 1.2rem;
	}

	h3 {
		//margin-bottom: 3rem;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 1.2rem;
	}
}


/* MW TOOLS */
.single-mw-tool {
	header {
		position: relative;
		height: 70vh;
		background-size: cover;
		background-position: center;
		.text {
			position: absolute;
			width: 70vw;
			bottom: 2rem;
			padding: 0 @x-spacing;
			h1 {
				font-size: @font-size-h1;
				color: @color-white;
				margin: 0;
			}
	
			h2 {
				font-size: @font-size-h4;
				color: @color-white;
				font-weight: 500;
			}
		}
	}
	div.content {

		margin: @y-spacing 0;
		padding: 0 @x-spacing;
		
	}
}

@media screen and(min-width: 768px) {
	/* Coming soon */
	.soon {
		
		h2 {
			width: 60%;
		}

		p {
			width: 80%;
		}
	}
}