/* page-handbook-card.php styles */
body.page-handbook-card main {
  padding: var(--spacing-y) var(--spacing-x);
}
body.page-handbook-card main section.cards-slider nav.cards-nav {
  margin: -1.5rem 0 1rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a {
  border: 0.08rem solid #222;
  border-radius: 0.35em;
  height: 1.9rem;
  width: 1.35rem;
  margin: 0 0.35em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222;
  text-decoration: none;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a span {
  display: none;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a:first-of-type {
  border: 0;
  background-image: url("../img/icon-cards.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 2.7rem;
  width: 4.4rem;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a:first-of-type::before {
  visibility: hidden;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a.previous {
  border: 0;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a.active {
  background-color: var(--cat-color, var(--color-yellow-light));
}
body.page-handbook-card main section.cards-slider nav.cards-nav a.between {
  border: 0;
}
body.page-handbook-card main section.cards-slider nav.cards-nav a.next {
  border: 0;
}
body.page-handbook-card main section.cards-slider article.card {
  background-color: #EEEEEE;
  border-radius: 0.5em;
}
body.page-handbook-card main section.cards-slider article.card > header {
  background-color: var(--cat-color, var(--color-yellow-light));
  border-radius: 0.5em 0.5em 0 0;
  padding: var(--spacing-y) var(--spacing-x);
  display: flex;
  flex-flow: column wrap;
}
body.page-handbook-card main section.cards-slider article.card > header h1 {
  font-size: var(--font-size-bigger);
  margin-bottom: 0.5em;
  order: 1;
}
body.page-handbook-card main section.cards-slider article.card > header figure.icon {
  width: 7em;
  margin-bottom: 1em;
  order: 0;
}
body.page-handbook-card main section.cards-slider article.card > header figure.icon img {
  width: inherit;
}
body.page-handbook-card main section.cards-slider article.card > header p {
  order: 2;
}
body.page-handbook-card main section.cards-slider article.card > header div.companion-content {
  order: 3;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
body.page-handbook-card main section.cards-slider article.card > header div.companion-content figure.companion-image {
  width: 100%;
  margin-top: 2rem;
}
body.page-handbook-card main section.cards-slider article.card > header div.companion-content figure.companion-image img {
  width: 100%;
  height: auto;
}
body.page-handbook-card main section.cards-slider article.card > header div.companion-content button.companion {
  height: 1.5rem;
  width: 3.1rem;
  margin-left: auto;
  background-image: url("../img/bkg-button-slide.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  border: 0;
}
body.page-handbook-card main section.cards-slider article.card > header div.companion-content button.companion span {
  display: none;
}
body.page-handbook-card main section.cards-slider article.card section {
  padding: var(--spacing-y) var(--spacing-x);
  overflow: hidden;
}
body.page-handbook-card main section.cards-slider article.card section header {
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-bottom: 2rem;
}
body.page-handbook-card main section.cards-slider article.card section header h2 {
  font-size: var(--font-size-biggish);
  text-indent: 2rem;
}
body.page-handbook-card main section.cards-slider article.card section article h3 {
  font-weight: bold;
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section article p {
  font-size: var(--font-size-small);
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section article a {
  color: #FEF288;
}
body.page-handbook-card main section.cards-slider article.card section article figure {
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section article figure img {
  width: inherit;
  height: auto;
}
body.page-handbook-card main section.cards-slider article.card section.intro header.card-meta {
  margin-bottom: 0;
}
body.page-handbook-card main section.cards-slider article.card section.intro header.card-meta p {
  margin-bottom: 0.5em;
}
body.page-handbook-card main section.cards-slider article.card section.intro header.card-meta button {
  margin-top: 1.5rem;
  width: 100%;
}
body.page-handbook-card main section.cards-slider article.card section.intro .content > p {
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section.intro.container-expandable {
  position: relative;
}
body.page-handbook-card main section.cards-slider article.card section.intro.container-expandable.expanded .button-expandable {
  position: absolute;
  bottom: var(--spacing-y);
  width: auto;
}
body.page-handbook-card main section.cards-slider article.card section.intro.container-expandable.expanded .button-expandable span {
  display: none;
}
body.page-handbook-card main section.cards-slider article.card section.intro.container-expandable.expanded .button-expandable::after {
  content: "Less \2191";
}
body.page-handbook-card main section.cards-slider article.card section.intro.container-expandable.expanded > .content {
  padding-bottom: var(--spacing-y);
}
body.page-handbook-card main section.cards-slider article.card section.steps {
  counter-reset: section;
}
body.page-handbook-card main section.cards-slider article.card section.steps header {
  background-image: url("../img/icon-map-black.svg");
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step {
  margin: 0 var(--spacing-x) 1.5em;
  border-bottom: 1px dotted #666;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step > h3 {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 1.2em;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step > h3::before {
  counter-increment: section;
  content: counter(section);
  flex: 0 0 2em;
  font-size: var(--font-size-small);
  width: 2em;
  height: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 0.7em;
  margin-top: -0.2em;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools h4 {
  text-transform: uppercase;
  color: #FEF288;
  padding-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools ul li.related.tool {
  border: 0.5px solid #666;
  padding: var(--spacing-x);
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools ul li.related.tool h5 {
  font-size: var(--font-size-p);
  font-weight: bold;
  padding-bottom: 0.5em;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step:last-of-type {
  border-bottom: none;
  margin-bottom: var(--spacing-y);
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step.container-expandable {
  position: relative;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step.container-expandable > .button-expandable {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border: 0;
  padding: 0;
  line-height: 1.8rem;
  text-align: right;
  color: white;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step.container-expandable.expanded {
  padding-bottom: 3rem;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step.container-expandable.expanded > .button-expandable {
  top: auto;
  bottom: 0;
  line-height: 3em;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step.container-expandable.expanded > .button-expandable span {
  display: none;
}
body.page-handbook-card main section.cards-slider article.card section.steps article.step.container-expandable.expanded > .button-expandable::after {
  content: "\2191  Close";
}
body.page-handbook-card main section.cards-slider article.card section.steps.tab {
  padding: 0;
}
body.page-handbook-card main section.cards-slider article.card section.steps.active header {
  background-image: url("../img/icon-map-white.svg");
}
body.page-handbook-card main section.cards-slider article.card section.tools header {
  background-image: url("../img/icon-hand-black.svg");
}
body.page-handbook-card main section.cards-slider article.card section.tools article {
  margin: 0 var(--spacing-x) 1.5em;
  border: 0.5px solid #666;
  padding: var(--spacing-x);
}
body.page-handbook-card main section.cards-slider article.card section.tools article > h3 {
  font-weight: bold;
  padding-bottom: 0.5em;
}
body.page-handbook-card main section.cards-slider article.card section.tools article > p {
  padding-bottom: 0.5em;
}
body.page-handbook-card main section.cards-slider article.card section.tools article > a {
  color: #FEF288;
}
body.page-handbook-card main section.cards-slider article.card section.tools article:last-of-type {
  margin-bottom: var(--spacing-y);
}
body.page-handbook-card main section.cards-slider article.card section.tools.tab {
  padding: 0;
}
body.page-handbook-card main section.cards-slider article.card section.tools.active header {
  background-image: url("../img/icon-hand-white.svg");
}
body.page-handbook-card main section.cards-slider article.card section.examples header {
  background-image: url("../img/icon-example-black.svg");
}
body.page-handbook-card main section.cards-slider article.card section.examples .swiper-pagination {
  position: static;
  padding: 0;
  margin-top: -1em;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../img/icon-swipe-black.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
body.page-handbook-card main section.cards-slider article.card section.examples .swiper-pagination .swiper-pagination-bullet {
  display: contents;
}
body.page-handbook-card main section.cards-slider article.card section.examples .swiper-pagination .swiper-pagination-bullet::before {
  content: "\25CB";
  font-size: 1.3em;
  cursor: pointer;
  margin: 0 0.1em;
}
body.page-handbook-card main section.cards-slider article.card section.examples .swiper-pagination .swiper-pagination-bullet-active::before {
  content: "\25C9";
}
body.page-handbook-card main section.cards-slider article.card section.examples article.example {
  border-top: 1px dotted #666;
  padding-top: 1em;
}
body.page-handbook-card main section.cards-slider article.card section.examples article.example h3 {
  font-weight: bold;
  font-size: var(--font-size-biggish);
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section.examples article.example figure {
  width: 100%;
  margin-bottom: 1em;
}
body.page-handbook-card main section.cards-slider article.card section.examples article.example figure img {
  width: inherit;
}
body.page-handbook-card main section.cards-slider article.card section.examples article.example > p {
  margin-bottom: 1em;
  font-size: var(--font-size-small);
}
body.page-handbook-card main section.cards-slider article.card section.examples article.example a {
  color: #222222;
}
body.page-handbook-card main section.cards-slider article.card div.tabs {
  background-color: #222222;
  color: #ffffff;
}
body.page-handbook-card main section.cards-slider article.card div.tabs > section header {
  background-position: var(--spacing-x) center;
  background-color: #DDDDDD;
  color: #222222;
  height: fit-content;
}
body.page-handbook-card main section.cards-slider article.card div.tabs > section header h2 {
  line-height: 3em;
  text-indent: 3.5rem;
}
body.page-handbook-card main section.cards-slider article.card div.tabs > section.active header {
  background-color: #222222;
  color: #ffffff;
}
body.page-handbook-card main section.cards-slider article.card footer {
  padding: var(--spacing-x);
  background-color: #ffffff;
}
body.page-handbook-card main section.cards-slider article.card footer header {
  background-image: url("../img/icon-help-black.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-bottom: 2rem;
}
body.page-handbook-card main section.cards-slider article.card footer header h2 {
  font-size: var(--font-size-biggish);
  text-indent: 2.5rem;
}
body.page-handbook-card main section.cards-slider article.card footer ul {
  padding: 0;
  list-style: none;
}
body.page-handbook-card main section.cards-slider article.card footer ul li {
  display: flex;
  flex-flow: row no-wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
}
body.page-handbook-card main section.cards-slider article.card footer ul li img {
  width: 6em;
  margin-right: 1em;
}
body.page-handbook-card main section.cards-slider article.card footer ul li p {
  font-size: var(--font-size-small);
  font-weight: 500;
}
body.page-handbook-card main section.cards-slider article.card footer ul li p a {
  display: block;
  font-weight: normal;
}
.container-expandable .expandable {
  overflow: hidden;
  height: auto;
  transition: height 250ms;
  will-change: height;
}
div.tabs {
  position: relative;
  overflow: hidden;
}
div.tabs .tab .tab-button {
  position: absolute;
  display: block;
  width: 50%;
  cursor: pointer;
}
div.tabs .tab div.container {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
div.tabs .tab:first-of-type .tab-button {
  top: 0;
  left: 0;
  right: 50%;
}
div.tabs .tab:last-of-type .tab-button {
  top: 0;
  left: 50%;
  right: 0;
}
div.tabs .tab.active .tab-button {
  position: relative;
}
div.tabs .tab.active div.container {
  position: inherit;
}
@media only screen and (min-width: 1201px) {
  body.page-handbook-card main {
    max-width: var(--main-width);
  }
  body.page-handbook-card main section.cards-slider nav.cards-nav {
    margin: -1.5rem 0 2rem 0;
    justify-content: center;
  }
  body.page-handbook-card main section.cards-slider nav.cards-nav a {
    margin: 0 0.5em;
  }
  body.page-handbook-card main section.cards-slider article.card > header {
    padding: var(--spacing-y);
  }
  body.page-handbook-card main section.cards-slider article.card > header p {
    order: 2;
    font-size: var(--font-size-biggish);
  }
  body.page-handbook-card main section.cards-slider article.card > header div.companion-content figure.companion-image {
    width: 50%;
  }
  body.page-handbook-card main section.cards-slider article.card section {
    padding: var(--spacing-y);
  }
  body.page-handbook-card main section.cards-slider article.card section header h2 {
    font-size: var(--font-size-big);
  }
  body.page-handbook-card main section.cards-slider article.card section article h3 {
    font-weight: normal;
    font-size: var(--font-size-biggish);
  }
  body.page-handbook-card main section.cards-slider article.card section article p {
    font-size: var(--font-size-p);
  }
  body.page-handbook-card main section.cards-slider article.card section.intro header.card-meta button {
    width: 50%;
  }
  body.page-handbook-card main section.cards-slider article.card section.steps article.step {
    margin: 0 var(--spacing-y) 1.5em;
  }
  body.page-handbook-card main section.cards-slider article.card section.steps article.step h3::before {
    font-size: var(--font-size-p);
  }
  body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools {
    margin-top: 2rem;
  }
  body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools h4 {
    font-weight: bold;
  }
  body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools ul {
    display: flex;
    flex-flow: row wrap;
    margin-right: -1rem;
  }
  body.page-handbook-card main section.cards-slider article.card section.steps article.step aside.related.tools ul li.related.tool {
    padding: 2rem;
    margin: 0 1rem 1rem 0;
    flex: 1 1 auto;
  }
  body.page-handbook-card main section.cards-slider article.card section.tools {
    padding: 0 var(--spacing-y) !important;
  }
  body.page-handbook-card main section.cards-slider article.card section.tools > header {
    margin: 0;
  }
  body.page-handbook-card main section.cards-slider article.card section.tools div.container {
    display: flex;
    flex-flow: row wrap;
    margin-right: -2rem;
    padding: var(--spacing-y) 0 0 0;
  }
  body.page-handbook-card main section.cards-slider article.card section.tools article {
    margin: 0 2rem 2rem 0;
    padding: 2rem;
    flex: 1 1 calc(50% - 6rem - 2px);
  }
  body.page-handbook-card main section.cards-slider article.card section.tools article > h3 {
    font-size: var(--font-size-biggish);
    font-weight: normal;
    padding-bottom: 1em;
  }
  body.page-handbook-card main section.cards-slider article.card section.tools article > p {
    padding-bottom: 1em;
  }
  body.page-handbook-card main section.cards-slider article.card section.examples article.example {
    padding-top: var(--spacing-y);
  }
  body.page-handbook-card main section.cards-slider article.card section.examples article.example h3 {
    float: left;
    font-weight: bold;
  }
  body.page-handbook-card main section.cards-slider article.card section.examples article.example figure {
    width: 50%;
    float: right;
    margin-left: 2rem;
  }
  body.page-handbook-card main section.cards-slider article.card section.examples article.example figure img {
    width: 100%;
  }
  body.page-handbook-card main section.cards-slider article.card section.examples article.example > p {
    clear: left;
  }
  body.page-handbook-card main section.cards-slider article.card div.tabs > section header {
    background-position: var(--spacing-y) center;
  }
  body.page-handbook-card main section.cards-slider article.card div.tabs > section header h2 {
    text-indent: 6rem;
    font-size: var(--font-size-big);
  }
  body.page-handbook-card main section.cards-slider article.card footer {
    padding: var(--spacing-y);
  }
  body.page-handbook-card main section.cards-slider article.card footer ul {
    display: flex;
    flex-flow: row nowrap;
  }
  body.page-handbook-card main section.cards-slider article.card footer ul li {
    margin-right: var(--spacing-y);
  }
  body.page-handbook-card main section.cards-slider article.card footer ul li:last-of-type {
    margin-right: 0;
  }
}
