/* page.php styles */
.page {

    main {
        padding: 0 var(--spacing-x);

        // Paragraphs added directly to page
        > p {
            // font-size: var(--font-size-p);
            margin: 0;
            padding-bottom: 1em;

            & strong {

                font-size: var(--font-size-biggish);
                font-weight: 500;
            }
        }

    }
}
//
@media only screen and (min-width: 1025px) {

}
