@import "normalize.css";
/* MIXINS */
:root {
  --spacing-x: 1.5rem;
  --spacing-y: 3rem;
  --spacing-half: 3.75rem;
  --main-header-height: 6rem;
  --main-width: 60rem;
  --main-width-pad: calc(var(--main-width) + (2 * var(--spacing-x)));
  --color-black: #222222;
  --color-white: #ffffff;
  --color-grey-light: #EEEEEE;
  --rgb-grey-light: 238, 238, 238;
  --color-grey: #DDDDDD;
  --rgb-grey: 212, 221, 221;
  --color-grey-dark: #CCCCCC;
  --color-grey-darker: #666666;
  --color-yellow-light: #FEF288;
  --color-yellow: #FAFF00;
  --color-blue-light: #DBEFEE;
  --color-coral-dark: #FF7557;
  --color-coral: #FF7557;
  --color-coral-light: #FFA693;
  --font-size-title: 4rem;
  --font-size-biggest: 3rem;
  --font-size-bigger: 2.3rem;
  --font-size-big: 1.5rem;
  --font-size-biggish: 1.3rem;
  --font-size-p: 1.1rem;
  --font-size-small: 1rem;
  --font-size-smaller: 0.9rem;
  --font-size-smallest: 0.8rem;
  --font-size-h1: 3rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.3rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.2rem;
}
@media only screen and (min-width: 1201px) {
  :root {
    --spacing-x: 7.5rem;
    --spacing-y: 3.75rem;
    --main-header-height: 8rem;
    --font-size-title: 4rem;
    --font-size-biggest: 3rem;
    --font-size-bigger: 2rem;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 2rem;
    --font-size-h4: 2rem;
  }
}
.page-index {
  /* ITEMS */
}
.page-index .featured-post {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
.page-index .featured-post header label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #EEEEEE;
  border-radius: 4px;
  font-weight: 300;
  text-transform: uppercase;
}
.page-index .featured-post header h1 {
  font-size: var(--font-size-bigger);
  margin: 0.67em 0 0.4em 0;
}
.page-index .featured-post header h1 br {
  display: none;
}
.page-index .featured-post header p {
  font-size: var(--font-size-p);
  margin: 1rem 0;
}
.page-index .featured-post header span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 500;
}
.page-index .featured-post header span.date:before,
.page-index .featured-post header span.readtime:before {
  font-family: 'icomoon';
  font-size: 1.1rem;
  vertical-align: top;
  margin-right: 0.5rem;
}
.page-index .featured-post header span.date:before {
  content: '\e903';
}
.page-index .featured-post header span.readtime {
  margin-left: 1.5rem;
}
.page-index .featured-post header span.readtime:before {
  content: '\e902';
}
.page-index .featured-post header a.button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  line-height: 1.5;
  text-decoration: none;
  background-color: #222222;
}
.page-index .featured-post header a.button:after {
  display: inline-block;
  content: "\e901";
  font-family: "icomoon";
  transform: rotate(-90deg);
  margin-left: 1rem;
}
.page-index .featured-post figure {
  flex-basis: 100%;
  margin: 0;
  background-color: #CCCCCC;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-index .featured-post figure:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.page-index .featured-post figure img {
  display: none;
}
.page-index .featured-post.pending {
  opacity: 0.3;
}
.page-index .featured-post.pending figure {
  background-image: none;
  background-color: #CCCCCC;
}
.page-index .featured-post.pending span.date,
.page-index .featured-post.pending a.button {
  display: none;
}
.page-index header.cover {
  background-color: #222222;
  color: #ffffff;
}
.page-index header.cover div.cover-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.page-index header.cover div.cover-content h1,
.page-index header.cover div.cover-content h2 {
  margin: 0;
}
.page-index header.cover div.cover-content h1 {
  padding: 3rem 1.5rem;
  background-color: var(--color-coral);
  font-size: var(--font-size-title);
  line-height: 1.1;
}
.page-index header.cover div.cover-content h1 span {
  display: block;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.page-index header.cover div.cover-content h2 {
  padding: 3rem 1.5rem;
  font-size: var(--font-size-biggish);
}
.page-index div.content {
  padding: 1.5rem 0 3rem 0;
}
.page-index div.content article.featured-post:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1025px) {
  .page-index {
    /* ITEMS */
  }
  .page-index .featured-post {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: 0 7.5rem;
    margin: 7.5rem 0;
  }
  .page-index .featured-post header {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    position: relative;
    padding-left: var(--spacing-half);
  }
  .page-index .featured-post header a.button {
    position: absolute;
    bottom: 0;
    left: 3.8rem;
    border: 0;
    margin: 0;
  }
  .page-index .featured-post figure {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    flex: 0 0 320px;
    height: 320px;
  }
  .page-index .featured-post figure:after {
    display: none;
  }
  .page-index header.cover div.cover-content {
    height: calc(var(--main-width-pad) / 2);
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .page-index header.cover div.cover-content h1,
  .page-index header.cover div.cover-content h2 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    padding: 7.5rem;
  }
  .page-index header.cover div.cover-content h1 {
    font-size: var(--font-size-title);
  }
  .page-index header.cover div.cover-content h2 {
    font-size: var(--font-size-biggish);
    line-height: 1.5em;
    font-weight: 300;
    -webkit-align-self: center;
    -ms-align-self: center;
    align-self: center;
  }
  .page-index div.content {
    padding: 0 0 7.5rem 0;
  }
}
/*# sourceMappingURL=page-index.css.map */