/* page-handbook.php styles */
@import "../css/variables-static";
@import "../css/variables";

body.page-handbook {
    header.main-header {
        // background-color: @color-coral;
    }
    main {
        padding: 2rem var(--spacing-x) var(--spacing-y) var(--spacing-x);

        > header {
            display: flex;
            flex-flow: row wrap;
            margin: -2rem calc(-1 * var(--spacing-x)) 2rem;
            padding: var(--spacing-y) var(--spacing-x);

            background-color: var(--cat-color, var(--color-yellow-light));

            h1 {
                order: 1;
                flex: 1 1 80%;

                // color: @color-coral;
                font-size: var(--font-size-bigger);
                font-weight: 600;
                color: @color-white;
                margin-bottom: 1em;

            }

            h2 {
                order: 2;
                flex: 0 0 100%;

                margin-bottom: 1em;
            }

            figure {
                order: 0;
                flex: 0 0 auto;

                margin-right: 1em;

                img {
                    width: 3rem;
                }
            }

            button {
                order: 3;
                flex: 0 0 100%;

                // background-color: @color-black;
                // border-color:  @color-white;
                // color: @color-white;
            }
        }

        div.content {
            > p {
                padding-bottom: 1em;
            }
            a {
              color: @color-black;
            }
        }

        section.category {
            margin: 2rem 0 var(--spacing-y) 0;

            // For companion image
            // position: relative;
            // padding-left: 2rem;
            // overflow: hidden;

            > header {
                margin-bottom: 2rem;

                h2 {
                    font-size: var(--font-size-big);
                    font-weight: 600;
                    color: @color-coral;

                    background-image: url("../img/icon-cards-group-black.svg");
                    background-repeat: no-repeat;
                    background-size: 2rem;
                    min-height: 2rem;
                    // background-position: left .3em;

                    padding-left: 2em;
                }

                p {
                    font-size: var(--font-size-p);
                    font-weight: 500;
                    padding-top: 1em;
                }
            }

            article.card {
                background-color: @color-grey-light;
                border-radius: 0.5em;
                margin-bottom: var(--spacing-x);

                > header {
                    position: relative;
                    background-color: @color-yellow-light;
                    background-color: var(--subcat-color, var(--color-yellow-light));
                    border-radius: 0.5em 0.5em 0 0;
                    padding: 1.5rem;

                    display: flex;
                	flex-flow: row nowrap;

                    h3 {
                        order: 1;

                        font-size: var(--font-size-biggish);
                        font-weight: 500;
                    }

                    figure {
                        order: 0;

                        margin-right: 1em;
                        width: 3.5em;

                        img {
                            width: inherit;
                        }
                    }

                    a.button,
                    button {
                        order: 2;
                        max-width: 1em;
                        margin-left: auto;
                        // position: absolute;
                        // right: .7em;
                        // top: .7em;

                        display: none;

                        &.open {
                            border: 0;
                            text-indent: -10000px;
                            background-position: center .5em;
                            // padding: 0.3em;
                        }
                    }
                }
                > p {
                    padding: 1.5rem;
                    font-size: var(--font-size-small);
                }

                &:hover {
                    box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, .2);
                }

            }

            aside.companion-image {
                position: absolute;
                left: 0; top: 0;
            }

            &.special {
                margin: 0 calc(-1 * var(--spacing-x)) calc(-1 * var(--spacing-y));
                padding: var(--spacing-y) var(--spacing-x);
                background-color: @color-coral;

                > header {
                    h2 {
                        color: @color-white;
                    }
                }

                article.card {
                    &:hover {
                        box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, .3);
                    }
                }

            }
        }
    }
}

.container-expandable { // TODO: Move this to main css?

    .button-expandable {

    }

    .expandable {
        overflow: hidden;
        height: auto;
        transition: height 250ms linear;
        will-change: height;
    }
}

div.tabs { // TODO: Move this to main css?
    position: relative;
    overflow: hidden;

    .tab {

        .tab-button {
            position: absolute;
            display: block;
            width: 50%;
            cursor: pointer;
        }

        > * { // All children elements
            display: none;
        }


        &:first-of-type {
            .tab-button {
                top: 0; left: 0; right: 50%;
            }
        }
        &:last-of-type {
            .tab-button {
                top: 0; left: 50%; right: 0;
            }
        }

        &.active {

            .tab-button {
                position: relative;
            }

            > * { // All children elements
                display: block;
            }
        }
    }


}

div.container.center {

}



// DESKTOP
@media @desktop {
    body.page-handbook {
        main {
            // NOTE: Temporary centering
            max-width: var(--main-width);
            margin: 0 auto;

            > header {
                margin-bottom: var(--spacing-y);

                // NOTE: Temporary centering
                margin-left: @center-margin;
                margin-right: @center-margin;
                padding-left: @center-padding;
                padding-right: @center-padding;

                h1 {
                    font-size: var(--font-size-biggest);
                    font-weight: normal;
                }
                h2 {}
                button {
                    flex: 0 0 auto;
                    width: 480px;
                    margin-top: 2rem;
                    margin-left: 0;
                    margin-right: calc( 100% - 480px);

                    // display: none;
                }
            }

            section.category {
                display: flex;
            	flex-flow: row wrap;

                // NOTE: Temporary centering
                margin-right: -4rem;

                > header {
                    flex: 1 1 100%;
                    margin-bottom: var(--spacing-y);

                    h2 {
                        font-size: var(--font-size-bigger);
                        background-size: 2.6rem;
                        min-height: 2.6rem;
                        max-width: var(--main-width);
                    }

                    p {
                        font-size: var(--font-size-biggish);
                        font-weight: lighter;
                        padding-top: 2rem;
                        max-width: var(--main-width);
                    }
                }

                article.card {
                    flex: 0 0 auto;
                    max-width: 480px;

                    margin-right: 2rem;
                    margin-bottom: 2rem;
                    cursor: pointer;

                    > header {
                        h3 {
                            font-size: var(--font-size-big);
                        }

                        a.button,
                        button {
                            &.open {
                                // line-height: .5em;
                                // padding: 1.5em;
                            }
                        }
                    }

                    div.companion-content {
                        figure.companion-image {
                            width: 50%;

                        }
                    }

                    > p {
                        font-size: var(--font-size-p);
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                &.special {
                    // NOTE: Temporary centering
                    margin-left: @center-margin;
                    margin-right: calc( -1 * (@center-padding + 4rem) );
                    padding-left: @center-padding;
                    padding-right: @center-padding;

                }

            }
        }
    }
}
