@import "normalize.css";
/* MIXINS */
.page-scientific-insights {
  /* TYPOGRAPHY */
  /* BLOCKQUOTE / PULLQUOTES */
  /* IMAGES */
  /* BUTTONS */
  /* FORMS */
  /* BLOCK COLUMNS */
  /* BLOCK GROUPS */
  /* HELPERS */
  /* ITEMS */
}
.page-scientific-insights h1 {
  font-weight: 600;
  line-height: 1.1;
}
.page-scientific-insights h1 b,
.page-scientific-insights h1 strong {
  font-weight: 700;
}
.page-scientific-insights h2,
.page-scientific-insights h3,
.page-scientific-insights h4 {
  font-weight: 500;
  line-height: 1.3;
}
.page-scientific-insights h2 b,
.page-scientific-insights h3 b,
.page-scientific-insights h4 b,
.page-scientific-insights h2 strong,
.page-scientific-insights h3 strong,
.page-scientific-insights h4 strong {
  font-weight: 700;
}
.page-scientific-insights p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.page-scientific-insights p.footnote {
  color: #666666;
  font-size: 1rem;
}
.page-scientific-insights p a {
  color: #222222;
}
.page-scientific-insights .underline {
  position: relative;
  margin-bottom: 3rem;
}
.page-scientific-insights .underline:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 7px;
  left: 0;
  bottom: -1rem;
  background-color: #222222;
}
.page-scientific-insights .underline.white:after {
  background-color: #ffffff;
}
.page-scientific-insights .upperline {
  position: relative;
  margin-top: 3rem;
}
.page-scientific-insights .upperline:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 7px;
  left: 0;
  top: -1.5rem;
  background-color: #222222;
}
.page-scientific-insights .upperline.white:after {
  background-color: #ffffff;
}
.page-scientific-insights .has-huge-font-size {
  font-size: 3rem;
}
.page-scientific-insights .has-large-font-size {
  font-size: 1.5rem;
}
.page-scientific-insights .has-medium-font-size {
  font-size: 1.1rem;
}
.page-scientific-insights .wp-block-pullquote,
.page-scientific-insights .wp-block-pullquote.is-style-default {
  margin: 0;
}
.page-scientific-insights .wp-block-pullquote blockquote,
.page-scientific-insights .wp-block-pullquote.is-style-default blockquote {
  margin: 0;
}
.page-scientific-insights .wp-block-pullquote blockquote p,
.page-scientific-insights .wp-block-pullquote.is-style-default blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}
.page-scientific-insights .wp-block-image {
  margin: 3rem 0;
}
.page-scientific-insights .wp-block-image img {
  max-width: 100%;
  height: auto;
}
.page-scientific-insights .wp-block-image figcaption {
  color: #666666;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  line-height: 1.5;
}
.page-scientific-insights .wp-block-image.full-image {
  margin: 3rem -1.5rem;
}
.page-scientific-insights .wp-block-image.full-image figcaption {
  margin: 1.5rem;
}
.page-scientific-insights .wp-block-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.page-scientific-insights .wp-block-button,
.page-scientific-insights .button {
  display: inline-flex;
  margin: 0.5rem 0;
}
.page-scientific-insights .wp-block-button a,
.page-scientific-insights .button a {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #222222;
  padding: 0.7rem 1.5rem;
  color: #222222;
  line-height: 1.5;
  text-decoration: none;
}
.page-scientific-insights .wp-block-button.white a,
.page-scientific-insights .button.white a {
  background-color: #ffffff;
}
.page-scientific-insights .wp-block-button.black a,
.page-scientific-insights .button.black a {
  background-color: #222222;
  color: #ffffff;
}
.page-scientific-insights .wp-block-button.read-more a,
.page-scientific-insights .button.read-more a {
  width: inherit;
  position: relative;
  text-align: left;
  border: 0;
  padding: 0;
}
.page-scientific-insights .wp-block-button.read-more a:after,
.page-scientific-insights .button.read-more a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #222222;
  display: block;
}
.page-scientific-insights .wp-block-button.button.zoom a:before,
.page-scientific-insights .button.button.zoom a:before {
  content: "\e90e";
  font-family: "icomoon";
  padding-right: 0.5rem;
  vertical-align: top;
}
.page-scientific-insights input[type="text"],
.page-scientific-insights input[type="name"],
.page-scientific-insights input[type="email"],
.page-scientific-insights textarea {
  -webkit-appearance: none;
  width: calc(100% - 2*1.5rem - 4px);
  color: #222222;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  border: 2px solid #222222;
  border-radius: 10px;
  background-color: transparent;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
}
.page-scientific-insights input[type="text"]::placeholder,
.page-scientific-insights input[type="name"]::placeholder,
.page-scientific-insights input[type="email"]::placeholder,
.page-scientific-insights textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #222222;
  opacity: 1;
  /* Firefox */
}
.page-scientific-insights input[type="text"]:-ms-input-placeholder,
.page-scientific-insights input[type="name"]:-ms-input-placeholder,
.page-scientific-insights input[type="email"]:-ms-input-placeholder,
.page-scientific-insights textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222222;
}
.page-scientific-insights input[type="text"]:-ms-input-placeholder,
.page-scientific-insights input[type="name"]:-ms-input-placeholder,
.page-scientific-insights input[type="email"]:-ms-input-placeholder,
.page-scientific-insights textarea:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #222222;
}
.page-scientific-insights .wp-block-columns.two-columns,
.page-scientific-insights .two-columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.page-scientific-insights .wp-block-columns.two-columns .wp-block-column,
.page-scientific-insights .two-columns .wp-block-column,
.page-scientific-insights .wp-block-columns.two-columns .column,
.page-scientific-insights .two-columns .column {
  flex-basis: 100%;
}
.page-scientific-insights .wp-block-columns.two-columns .wp-block-column h2,
.page-scientific-insights .two-columns .wp-block-column h2,
.page-scientific-insights .wp-block-columns.two-columns .column h2,
.page-scientific-insights .two-columns .column h2 {
  font-size: 2.3rem;
}
.page-scientific-insights .wp-block-columns.two-columns .wp-block-column h3,
.page-scientific-insights .two-columns .wp-block-column h3,
.page-scientific-insights .wp-block-columns.two-columns .column h3,
.page-scientific-insights .two-columns .column h3 {
  font-size: 1.5rem;
}
.page-scientific-insights .wp-block-columns.three-columns,
.page-scientific-insights .three-columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.page-scientific-insights .wp-block-columns.three-columns .wp-block-column,
.page-scientific-insights .three-columns .wp-block-column,
.page-scientific-insights .wp-block-columns.three-columns .column,
.page-scientific-insights .three-columns .column {
  flex-basis: 100%;
}
.page-scientific-insights .wp-block-columns.three-columns p,
.page-scientific-insights .three-columns p {
  font-size: 1.5rem;
  font-weight: 700;
}
.page-scientific-insights .wp-block-group.intro {
  margin: 0 -1.5rem;
  padding: 1rem 1.5rem;
}
.page-scientific-insights .wp-block-group.index h2 {
  font-size: 2.3rem;
  font-weight: 700;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns .wp-block-column {
  padding: 3rem 1.5rem;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns .wp-block-column p:first-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns .wp-block-column h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns.first-row .wp-block-column:first-child {
  background-color: #EEEEEE;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns.first-row .wp-block-column:nth-child(2) {
  background-color: #DDDDDD;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:first-child {
  background-color: #CCCCCC;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:nth-child(2) {
  background-color: #222222;
  color: #ffffff;
  margin-right: -1.5rem;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:nth-child(2) h3 {
  font-size: 2.3rem;
  font-weight: 500;
}
.page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:nth-child(2) .learn-more {
  width: calc(100% - 1.5rem);
}
.page-scientific-insights .wp-block-group.infographic-block {
  padding: 3rem 1.5rem;
  background-color: #FFA693;
  overflow: hidden;
}
.page-scientific-insights .wp-block-group.infographic-block .wp-block-image {
  margin-top: 3rem;
}
.page-scientific-insights .wp-block-group.infographic-block .wp-block-image img {
  transform: rotate(5deg) translateX(100px);
}
.page-scientific-insights .wp-block-group.infographic-block .wp-block-image figcaption {
  display: none;
}
.page-scientific-insights .wp-block-group.infographic-block .button.zoom {
  position: relative;
}
.page-scientific-insights .wp-block-group.infographic-block .button.zoom:after {
  content: url("../img/curved-arrow.svg");
  width: 60px;
  transform: scaleY(-1) rotate(-10deg);
  position: absolute;
  left: 1rem;
  bottom: -4rem;
}
.page-scientific-insights .wp-block-group.section-header h2 {
  font-size: 2.3rem;
  font-weight: 700;
}
.page-scientific-insights .wp-block-group.section-header .button.index a,
.page-scientific-insights .wp-block-group.section-header .button.zoom a {
  width: inherit;
  border: 0;
  padding: 0;
  text-align: left;
}
.page-scientific-insights .wp-block-group.section-header .button.index a:before,
.page-scientific-insights .wp-block-group.section-header .button.zoom a:before {
  font-family: "icomoon";
  padding-right: 0.5rem;
  vertical-align: top;
}
.page-scientific-insights .wp-block-group.section-header .button.index a:before {
  content: "\e90d";
}
.page-scientific-insights .wp-block-group.section-header .wp-block-columns .wp-block-column {
  padding: 3rem 1.5rem;
}
.page-scientific-insights .wp-block-group.section-header .wp-block-columns:first-child .wp-block-column:first-child {
  background-color: #DDDDDD;
}
.page-scientific-insights .wp-block-group.section-header .wp-block-columns:first-child .wp-block-column:first-child p:first-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
}
.page-scientific-insights .wp-block-group.section-header .wp-block-columns:nth-child(2) {
  color: #ffffff;
  background-color: #222222;
}
.page-scientific-insights .wp-block-group.author .wp-block-image {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 1.5rem 0.5rem 1.5rem 0;
}
.page-scientific-insights .wp-block-group.author .wp-block-image img {
  border-radius: 5rem;
  min-height: 100%;
  object-fit: cover;
}
.page-scientific-insights .wp-block-group.author .wp-block-group {
  display: inline-block;
  vertical-align: middle;
}
.page-scientific-insights .wp-block-group.author .wp-block-group p {
  margin: 0;
}
.page-scientific-insights .wp-block-group.author .wp-block-group p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}
.page-scientific-insights .wp-block-group.author .wp-block-group p:last-child {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.page-scientific-insights .wp-block-group.contact-us {
  background-color: #EEEEEE;
  padding: 1.5rem;
}
.page-scientific-insights .wp-block-group.contact-us p:first-child {
  margin-top: 0;
}
.page-scientific-insights .wp-block-group.contact-us p:last-child {
  margin-bottom: 0;
}
.page-scientific-insights .wp-block-group.contact-us p:last-child:before {
  content: "\e90b";
  font-family: "icomoon";
  font-size: 2.3rem;
  display: block;
}
.page-scientific-insights .wp-block-group.changemakers {
  background-color: #222222;
}
.page-scientific-insights .wp-block-group.changemakers .wp-block-columns .wp-block-column {
  background-color: #ffffff;
  padding: 1.5rem;
}
.page-scientific-insights .wp-block-group.changemakers .wp-block-columns:first-child .wp-block-column:first-child {
  background-color: #222222;
  color: #ffffff;
}
.page-scientific-insights .wp-block-group.changemakers .wp-block-columns:first-child .wp-block-column:first-child h2 {
  font-weight: 600;
}
.page-scientific-insights .hide {
  display: none;
}
.page-scientific-insights .no-margin {
  margin: 0!important;
}
.page-scientific-insights .aligncenter {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.page-scientific-insights .featured-post {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
.page-scientific-insights .featured-post.pending {
  opacity: 0.3;
}
.page-scientific-insights .featured-post.pending figure {
  background-image: none;
  background-color: #CCCCCC;
}
.page-scientific-insights .featured-post.pending a.button {
  pointer-events: none;
}
.page-scientific-insights .featured-post header label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #EEEEEE;
  border-radius: 4px;
  font-weight: 300;
  text-transform: uppercase;
}
.page-scientific-insights .featured-post header h1 {
  font-size: 2.3rem;
}
.page-scientific-insights .featured-post header h1 br {
  display: none;
}
.page-scientific-insights .featured-post header span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 500;
}
.page-scientific-insights .featured-post header span.date:before,
.page-scientific-insights .featured-post header span.readtime:before {
  font-family: 'icomoon';
  font-size: 1.1rem;
  vertical-align: top;
  margin-right: 0.5rem;
}
.page-scientific-insights .featured-post header span.date:before {
  content: '\e903';
}
.page-scientific-insights .featured-post header span.readtime {
  margin-left: 1.5rem;
}
.page-scientific-insights .featured-post header span.readtime:before {
  content: '\e902';
}
.page-scientific-insights .featured-post header p {
  font-size: 1.5rem;
}
.page-scientific-insights .featured-post header a.button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  line-height: 1.5;
  text-decoration: none;
  background-color: #222222;
}
.page-scientific-insights .featured-post header a.button:after {
  display: inline-block;
  content: "\e901";
  font-family: "icomoon";
  transform: rotate(-90deg);
  margin-left: 1rem;
}
.page-scientific-insights .featured-post figure {
  width: 100%;
  margin: 0;
  background-color: #CCCCCC;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-scientific-insights .featured-post figure:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.page-scientific-insights .featured-post figure img {
  display: none;
}
.page-scientific-insights header.cover {
  position: relative;
  background-size: cover;
  background-position: center;
  /*&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(34,34,34,0) 0%, rgba(34,34,34,1) 100%);
		}*/
}
.page-scientific-insights header.cover div.cover-content {
  position: relative;
  z-index: 1;
  padding: 1.5rem;
  color: #ffffff;
}
.page-scientific-insights header.cover div.cover-content h1 {
  font-size: 4rem;
  margin: 0;
  padding: 1.5rem 0 6rem 0;
}
.page-scientific-insights header.cover div.cover-content h2 {
  font-size: 1.5rem;
  line-height: 1.1;
}
.page-scientific-insights header.cover div.cover-content span {
  position: relative;
  font-size: 0.9rem;
  font-weight: 500;
}
.page-scientific-insights header.cover div.cover-content span.date:before,
.page-scientific-insights header.cover div.cover-content span.readtime:before {
  font-family: 'icomoon';
  font-size: 1.1rem;
  vertical-align: top;
  margin-right: 0.5rem;
}
.page-scientific-insights header.cover div.cover-content span.date:before {
  content: '\e903';
}
.page-scientific-insights header.cover div.cover-content span.readtime {
  margin-left: 1.5rem;
}
.page-scientific-insights header.cover div.cover-content span.readtime:before {
  content: '\e902';
}
.page-scientific-insights header.cover div.cover-content span.author {
  position: absolute;
  left: 1.5rem;
  bottom: -6rem;
  padding-left: 0;
}
.page-scientific-insights header.cover div.cover-content span.author img {
  width: 30px;
  border-radius: 100%;
  border: 1px solid white;
  margin-right: 0.5rem;
}
.page-scientific-insights div.content {
  margin: 0;
  padding: 3rem 1.5rem;
}
.page-scientific-insights div.content label {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.page-scientific-insights div.content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.page-scientific-insights div.content h2.title {
  font-size: 3rem;
}
.page-scientific-insights div.content h3.excerpt {
  font-size: 2.3rem;
  font-weight: 500;
}
.page-scientific-insights section.infographic {
  background-color: #222;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.page-scientific-insights section.infographic.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  transform: translateX(100vw);
  transition: transform 0.6s ease;
}
.page-scientific-insights section.infographic.popup header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
}
.page-scientific-insights section.infographic.popup header h1 {
  color: transparent;
  margin: 0;
  line-height: 1;
  font-size: 1em;
  display: none;
}
.page-scientific-insights section.infographic.popup header nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.page-scientific-insights section.infographic.popup header nav .button,
.page-scientific-insights section.infographic.popup header nav button {
  border: 0;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-left: 2em;
  text-decoration: none;
}
.page-scientific-insights section.infographic.popup header nav .button.close,
.page-scientific-insights section.infographic.popup header nav button.close,
.page-scientific-insights section.infographic.popup header nav .button.download,
.page-scientific-insights section.infographic.popup header nav button.download {
  background: transparent;
}
.page-scientific-insights section.infographic.popup header nav .button.close:after,
.page-scientific-insights section.infographic.popup header nav button.close:after,
.page-scientific-insights section.infographic.popup header nav .button.download:after,
.page-scientific-insights section.infographic.popup header nav button.download:after {
  font-family: 'icomoon';
  font-size: 1.1rem;
  margin-left: 0.5em;
}
.page-scientific-insights section.infographic.popup header nav .button.close:after,
.page-scientific-insights section.infographic.popup header nav button.close:after {
  content: "\e900";
}
.page-scientific-insights section.infographic.popup header nav .button.download:after,
.page-scientific-insights section.infographic.popup header nav button.download:after {
  content: "\e901";
}
.page-scientific-insights section.infographic.popup figure {
  margin: 0;
  height: 100vh;
}
.page-scientific-insights section.infographic.popup figure img {
  height: inherit;
}
.page-scientific-insights section.infographic.closed {
  transform: translateX(0vw);
}
@media only screen and (min-width: 1025px) {
  .page-scientific-insights {
    /* TYPOGRAPHY */
    /* BLOCKQUOTE / PULLQUOTES */
    /* IMAGES */
    /* BUTTONS */
    /* FORMS */
    /* BLOCK COLUMNS */
    /* BLOCK GROUPS */
  }
  .page-scientific-insights h1,
  .page-scientific-insights h2 {
    line-height: 1.3;
  }
  .page-scientific-insights h3,
  .page-scientific-insights h4 {
    line-height: 1.5;
  }
  .page-scientific-insights p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .page-scientific-insights .underline {
    margin-bottom: 3rem;
  }
  .page-scientific-insights .has-huge-font-size {
    font-size: 4rem;
  }
  .page-scientific-insights .has-large-font-size {
    font-size: 2.3rem;
  }
  .page-scientific-insights .has-medium-font-size {
    font-size: 1.5rem;
  }
  .page-scientific-insights .wp-block-pullquote blockquote p,
  .page-scientific-insights .wp-block-pullquote.is-style-default blockquote p {
    font-size: 2.3rem;
  }
  .page-scientific-insights .wp-block-image {
    margin: 0;
  }
  .page-scientific-insights .wp-block-image.full-image {
    width: calc(100% + 2*7.5rem);
    margin-left: -7.5rem;
  }
  .page-scientific-insights .wp-block-image.full-image img {
    width: 100%;
  }
  .page-scientific-insights .wp-block-image.full-image figcaption {
    margin: 1.5rem 7.5rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns,
  .page-scientific-insights .two-columns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .page-scientific-insights .wp-block-columns.two-columns .wp-block-column,
  .page-scientific-insights .two-columns .wp-block-column,
  .page-scientific-insights .wp-block-columns.two-columns .column,
  .page-scientific-insights .two-columns .column {
    flex: 0 0 calc(50% - 7.5rem);
  }
  .page-scientific-insights .wp-block-columns.two-columns .wp-block-column h2,
  .page-scientific-insights .two-columns .wp-block-column h2,
  .page-scientific-insights .wp-block-columns.two-columns .column h2,
  .page-scientific-insights .two-columns .column h2 {
    font-size: 4rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns .wp-block-column h3,
  .page-scientific-insights .two-columns .wp-block-column h3,
  .page-scientific-insights .wp-block-columns.two-columns .column h3,
  .page-scientific-insights .two-columns .column h3 {
    font-size: 2.3rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns.align-center,
  .page-scientific-insights .two-columns.align-center {
    -webkit-align-items: center !important;
    -ms-align-items: center !important;
    align-items: center !important;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-image,
  .page-scientific-insights .two-columns.text-image {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-image .wp-block-column,
  .page-scientific-insights .two-columns.text-image .wp-block-column {
    flex: 0 0 50%;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-image .wp-block-column .wp-block-image,
  .page-scientific-insights .two-columns.text-image .wp-block-column .wp-block-image {
    margin-left: 3.75rem;
    width: calc(100% + 3.75rem);
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-image .wp-block-column .wp-block-image img,
  .page-scientific-insights .two-columns.text-image .wp-block-column .wp-block-image img {
    width: 100%;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-image .wp-block-column .wp-block-image figcaption,
  .page-scientific-insights .two-columns.text-image .wp-block-column .wp-block-image figcaption {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text,
  .page-scientific-insights .two-columns.image-text {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column,
  .page-scientific-insights .two-columns.image-text .wp-block-column {
    flex: 0 0 50%;
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column:last-child h3,
  .page-scientific-insights .two-columns.image-text .wp-block-column:last-child h3,
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column:last-child p,
  .page-scientific-insights .two-columns.image-text .wp-block-column:last-child p {
    padding-left: 3.75rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column:last-child h3:after,
  .page-scientific-insights .two-columns.image-text .wp-block-column:last-child h3:after,
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column:last-child p:after,
  .page-scientific-insights .two-columns.image-text .wp-block-column:last-child p:after {
    left: 3.75rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column .wp-block-image,
  .page-scientific-insights .two-columns.image-text .wp-block-column .wp-block-image {
    margin-left: -7.5rem !important;
    width: calc(100% + 7.5rem);
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column .wp-block-image img,
  .page-scientific-insights .two-columns.image-text .wp-block-column .wp-block-image img {
    width: 100%;
  }
  .page-scientific-insights .wp-block-columns.two-columns.image-text .wp-block-column .wp-block-image figcaption,
  .page-scientific-insights .two-columns.image-text .wp-block-column .wp-block-image figcaption {
    padding-left: 7.5rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-text,
  .page-scientific-insights .two-columns.text-text {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-text .wp-block-column,
  .page-scientific-insights .two-columns.text-text .wp-block-column {
    flex: 0 0 50%;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-text .wp-block-column:last-child h3,
  .page-scientific-insights .two-columns.text-text .wp-block-column:last-child h3,
  .page-scientific-insights .wp-block-columns.two-columns.text-text .wp-block-column:last-child p,
  .page-scientific-insights .two-columns.text-text .wp-block-column:last-child p {
    padding-left: 3.75rem;
  }
  .page-scientific-insights .wp-block-columns.two-columns.text-text .wp-block-column:last-child h3:after,
  .page-scientific-insights .two-columns.text-text .wp-block-column:last-child h3:after,
  .page-scientific-insights .wp-block-columns.two-columns.text-text .wp-block-column:last-child p:after,
  .page-scientific-insights .two-columns.text-text .wp-block-column:last-child p:after {
    left: 3.75rem;
  }
  .page-scientific-insights .wp-block-columns.three-columns,
  .page-scientific-insights .three-columns {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .page-scientific-insights .wp-block-columns.three-columns .wp-block-column,
  .page-scientific-insights .three-columns .wp-block-column,
  .page-scientific-insights .wp-block-columns.three-columns .column,
  .page-scientific-insights .three-columns .column {
    flex-basis: 33%;
  }
  .page-scientific-insights .wp-block-group.intro {
    margin: 0 -7.5rem;
    padding: 0 7.5rem;
  }
  .page-scientific-insights .wp-block-group.index h2 {
    font-size: 4rem;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns .wp-block-column {
    padding: 3.75rem;
    flex: 0 0 calc(50% - 2*3.75rem);
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns .wp-block-column h3 {
    font-size: 2.3rem;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns.second-row {
    position: relative;
    background-color: #222222;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns.second-row:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(50% + 7.5rem);
    height: 100%;
    background-color: #222222;
    z-index: 0;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column {
    position: relative;
    z-index: 1;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:nth-child(2) {
    margin-right: 0;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:nth-child(2) h3 {
    font-size: 3rem;
  }
  .page-scientific-insights .wp-block-group.index .wp-block-columns.second-row .wp-block-column:nth-child(2) .learn-more {
    max-width: 360px;
  }
  .page-scientific-insights .wp-block-group.infographic-block {
    margin: 3.75rem 0;
    padding: 7.5rem 7.5rem;
  }
  .page-scientific-insights .wp-block-group.infographic-block p {
    font-size: 1.5rem;
    margin: 0;
  }
  .page-scientific-insights .wp-block-group.infographic-block .button.zoom:after {
    width: 80px;
    transform: scaleY(-1) rotate(30deg);
    position: relative;
    left: 2rem;
    bottom: 0;
  }
  .page-scientific-insights .wp-block-group.infographic-block .wp-block-image,
  .page-scientific-insights .wp-block-group.infographic-block.full-image {
    margin-top: 0;
  }
  .page-scientific-insights .wp-block-group.infographic-block .wp-block-image img,
  .page-scientific-insights .wp-block-group.infographic-block.full-image img {
    width: 120%!important;
    max-width: 120%;
    transform: rotate(5deg) translateX(10%) translateY(3.75rem);
  }
  .page-scientific-insights .wp-block-group.section-header {
    width: calc(100% + 2*7.5rem);
    margin-left: -7.5rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns .wp-block-column {
    padding: 0;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns:first-child {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns:first-child .wp-block-column {
    flex: 0 0 calc(50% - 7.5rem - 3.75rem);
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns:first-child .wp-block-column:first-child {
    padding: 7.5rem 3.75rem 7.5rem 7.5rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns:first-child .wp-block-column:nth-child(2) {
    padding: 7.5rem 7.5rem 7.5rem 3.75rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns.two-columns:nth-child(2) .wp-block-column:first-child {
    flex: 0 0 calc(50% - 7.5rem - 3.75rem);
    padding: 3.75rem 3.75rem 3.75rem 7.5rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns.two-columns:nth-child(2) .wp-block-column:nth-child(2) {
    flex: 0 0 calc(50% - 7.5rem - 3.75rem);
    padding: 3.75rem 7.5rem 3.75rem 3.75rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns.three-columns:nth-child(2) .wp-block-column:first-child {
    flex: 0 0 calc(33% - 7.5rem - 3.75rem);
    padding: 3.75rem 3.75rem 3.75rem 7.5rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns.three-columns:nth-child(2) .wp-block-column:nth-child(2) {
    flex: 0 0 calc(33% - 2*3.75rem);
    padding: 3.75rem;
  }
  .page-scientific-insights .wp-block-group.section-header .wp-block-columns.three-columns:nth-child(2) .wp-block-column:nth-child(3) {
    flex: 0 0 calc(33% - 7.5rem - 3.75rem);
    padding: 3.75rem 7.5rem 3.75rem 3.75rem;
  }
  .page-scientific-insights .wp-block-group.contact-us {
    padding: 3.75rem;
  }
  .page-scientific-insights .wp-block-group.contact-us p:last-child {
    padding-left: 3rem;
    position: relative;
  }
  .page-scientific-insights .wp-block-group.contact-us p:last-child:before {
    font-size: 2.3rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .page-scientific-insights .wp-block-group.changemakers {
    margin: 0 -7.5rem;
    padding: 7.5rem 7.5rem;
  }
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns {
    -webkit-align-items: stretch !important;
    -ms-align-items: stretch !important;
    align-items: stretch !important;
  }
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns .wp-block-column {
    background-color: #ffffff;
    padding: 3.75rem;
    flex: 0 0 calc(50% - 2*3.75rem);
  }
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns .wp-block-column:last-child h3,
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns .wp-block-column:last-child p {
    padding-left: 0;
  }
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns .wp-block-column:last-child h3:after,
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns .wp-block-column:last-child p:after {
    left: 0;
  }
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns:first-child .wp-block-column:first-child h2,
  .page-scientific-insights .wp-block-group.changemakers .wp-block-columns:first-child .wp-block-column:first-child p {
    margin-left: -3.75rem;
  }
  .page-scientific-insights header.cover div.cover-content {
    width: 50%;
    padding: 7.5rem;
  }
  .page-scientific-insights header.cover div.cover-content h1 {
    font-size: 6rem;
  }
  .page-scientific-insights header.cover div.cover-content h2 {
    font-size: 2.3rem;
  }
  .page-scientific-insights div.content {
    padding: 0 7.5rem 7.5rem 7.5rem;
  }
  .page-scientific-insights div.content h2 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=page-scientific-insights.css.map */