/* page-handbook.php styles */
body.page-handbook main {
  padding: 2rem var(--spacing-x) var(--spacing-y) var(--spacing-x);
}
body.page-handbook main > header {
  display: flex;
  flex-flow: row wrap;
  margin: -2rem calc(-1 * var(--spacing-x)) 2rem;
  padding: var(--spacing-y) var(--spacing-x);
  background-color: var(--cat-color, var(--color-yellow-light));
}
body.page-handbook main > header h1 {
  order: 1;
  flex: 1 1 80%;
  font-size: var(--font-size-bigger);
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1em;
}
body.page-handbook main > header h2 {
  order: 2;
  flex: 0 0 100%;
  margin-bottom: 1em;
}
body.page-handbook main > header figure {
  order: 0;
  flex: 0 0 auto;
  margin-right: 1em;
}
body.page-handbook main > header figure img {
  width: 3rem;
}
body.page-handbook main > header button {
  order: 3;
  flex: 0 0 100%;
}
body.page-handbook main div.content > p {
  padding-bottom: 1em;
}
body.page-handbook main section.category {
  padding: var(--spacing-y) 0;
}
body.page-handbook main section.category > header {
  margin-bottom: 2rem;
}
body.page-handbook main section.category > header h2 {
  font-size: var(--font-size-big);
  font-weight: 600;
  color: #FF7557;
  background-image: url("../img/icon-cards-group-black.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  min-height: 2rem;
  padding-left: 2em;
}
body.page-handbook main section.category article.card {
  background-color: #EEEEEE;
  border-radius: 0.5em;
  margin-bottom: var(--spacing-x);
}
body.page-handbook main section.category article.card > header {
  position: relative;
  background-color: #FEF288;
  background-color: var(--subcat-color, var(--color-yellow-light));
  border-radius: 0.5em 0.5em 0 0;
  padding: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
}
body.page-handbook main section.category article.card > header h3 {
  order: 1;
  font-size: var(--font-size-biggish);
  font-weight: 500;
}
body.page-handbook main section.category article.card > header figure {
  order: 0;
  margin-right: 1em;
  width: 3.5em;
}
body.page-handbook main section.category article.card > header figure img {
  width: inherit;
}
body.page-handbook main section.category article.card > header a.button,
body.page-handbook main section.category article.card > header button {
  order: 2;
  max-width: 1em;
  margin-left: auto;
}
body.page-handbook main section.category article.card > header a.button.open,
body.page-handbook main section.category article.card > header button.open {
  border: 0;
  text-indent: -10000px;
  background-position: center 0.5em;
}
body.page-handbook main section.category article.card > p {
  padding: 1.5rem;
  font-size: var(--font-size-small);
}
body.page-handbook main section.category article.card:hover {
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.2);
}
body.page-handbook main section.category.special {
  margin: 0 calc(-1 * var(--spacing-x)) calc(-1 * var(--spacing-y));
  padding: var(--spacing-y) var(--spacing-x);
  background-color: #FF7557;
}
body.page-handbook main section.category.special > header h2 {
  color: #ffffff;
}
body.page-handbook main section.category.special article.card:hover {
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.3);
}
.container-expandable .expandable {
  overflow: hidden;
  height: auto;
  transition: height 250ms linear;
  will-change: height;
}
div.tabs {
  position: relative;
  overflow: hidden;
}
div.tabs .tab .tab-button {
  position: absolute;
  display: block;
  width: 50%;
  cursor: pointer;
}
div.tabs .tab > * {
  display: none;
}
div.tabs .tab:first-of-type .tab-button {
  top: 0;
  left: 0;
  right: 50%;
}
div.tabs .tab:last-of-type .tab-button {
  top: 0;
  left: 50%;
  right: 0;
}
div.tabs .tab.active .tab-button {
  position: relative;
}
div.tabs .tab.active > * {
  display: block;
}
@media only screen and (min-width: 1201px) {
  body.page-handbook main > header {
    margin-bottom: var(--spacing-y);
  }
  body.page-handbook main > header h1 {
    font-size: var(--font-size-biggest);
    font-weight: normal;
  }
  body.page-handbook main > header button {
    flex: 0 0 auto;
    width: 480px;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: calc(100% - 480px);
  }
  body.page-handbook main section.category {
    display: flex;
    flex-flow: row wrap;
  }
  body.page-handbook main section.category > header {
    flex: 1 1 100%;
    margin-bottom: 1px;
  }
  body.page-handbook main section.category > header h2 {
    font-size: var(--font-size-bigger);
    background-size: 2.6rem;
    min-height: 2.6rem;
    margin-bottom: var(--spacing-y);
  }
  body.page-handbook main section.category article.card {
    flex: 0 0 auto;
    max-width: 480px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  body.page-handbook main section.category article.card > header h3 {
    font-size: var(--font-size-big);
  }
  body.page-handbook main section.category article.card div.companion-content figure.companion-image {
    width: 50%;
  }
  body.page-handbook main section.category article.card > p {
    font-size: var(--font-size-p);
  }
  body.page-handbook main section.category article.card:last-of-type {
    margin-right: 0;
  }
}
/*# sourceMappingURL=page-handbook.css.map */