//Variables
@color-black:         #222222;
@color-white:         #ffffff;

@color-grey-light:    #EEEEEE;
@color-grey:          #DDDDDD;
@color-grey-dark:     #CCCCCC;
@color-grey-darker:   #666666;

@color-yellow-light:  #FEF288;
@color-yellow:        #FAFF00;

@color-blue-light:    #DBEFEE;

@color-coral:         #FFA693;
