// VARIABLES

@desktop: ~"only screen and (min-width: 1025px)";


// Dynamic global (root) variables -> CSS only
:root {

    // Sizes
    --topbar-height:         12rem;

    // Spacing
    --spacing-x:             1.5rem;
    --spacing-y:             3rem;
    --spacing-half:          3.75rem;

    // Colors
    --color-black:        #222222;
    --color-white:        #ffffff;

    --color-grey-light:    #EEEEEE;
    --color-grey:          #DDDDDD;
    --color-grey-dark:     #CCCCCC;
    --color-grey-darker:   #666666;

    --color-yellow-light:  #FEF288;
    --color-yellow:        #FAFF00;

    --color-blue-light:    #DBEFEE;

    --color-coral:         #FFA693;

    // Fonts
    --font-size-title:       4rem;
    --font-size-h1:          3rem;
    --font-size-h2:          3rem;
    --font-size-h3:          2.3rem;
    --font-size-h4:          1.5rem;
    --font-size-h5:          1.2rem;
    --font-size-p:           1.1rem;

    //
    @media @desktop {
        --spacing-x:         7.5rem;
        --spacing-y:         7.5rem;

        --font-size-title:   6rem;
        --font-size-h1:      6rem;
        --font-size-h2:      4rem;
        --font-size-h3:      3rem;
        --font-size-h4:      2.3rem;
    }
}

//

//
// @color-black:         #222222;
// @color-white:         #ffffff;
//
// @color-grey-light:    #EEEEEE;
// @color-grey:          #DDDDDD;
// @color-grey-dark:     #CCCCCC;
// @color-grey-darker:   #666666;
//
// @color-yellow-light:  #FEF288;
// @color-yellow:        #FAFF00;
//
// @color-blue-light:    #DBEFEE;
//
// @color-coral:         #FFA693;
//
//
// @x-spacing:     	1.5rem;
// @y-spacing:     	3rem;
//
// @half-spacing:      3.75rem;
//
// @font-size-h1: 		4rem;
// @font-size-h2: 		3rem;
// @font-size-h3: 		2.3rem;
// @font-size-h4: 		1.5rem;
// @font-size-h5: 		1.5rem;
// @font-size-p: 		1.1rem;

// @desktop:             ~"only screen and (min-width: 1025px)";
// @x-spacing: 	    7.5rem;
// @y-spacing: 	    7.5rem;
//
// @font-size-h1: 		6rem;
// @font-size-h2: 		4rem;
// @font-size-h3: 		3rem;
// @font-size-h4: 		2.3rem;
