//
@import "../css/variables-static";

section.block.expanding-content {
    overflow: hidden;
    padding: var(--spacing-y) var(--spacing-x) 0;
    margin: auto calc(-1 * var(--spacing-x)) var(--spacing-y); // Counter the <main> left-right padding

    > header {
        padding-bottom: var(--spacing-y);

        hgroup {
            padding-bottom: 2em;

            h1 {

            }
            h2 {}
        }

        p {}

    }

    // .expandable
    > article {
        position: relative;
        background-color: var(--color-grey);
        padding: var(--spacing-y) var(--spacing-x) calc( var(--spacing-y) * 2.5);
        margin: auto calc(-1 * var(--spacing-x)); // Counter the <main> left-right padding

        transition: background-color 0.3s;
        // transition: height .5s linear;
        will-change: height;

        > header {

            padding-bottom: calc(var(--spacing-y) * 3); // Adds space for the buttons

            h1 {
                padding-bottom: 0.5em;
            }
            p {

            }
        }

        > p {
            padding-bottom: 1em;
        }

        > section { //Recommendations
            padding: var(--spacing-y) var(--spacing-x);
            margin: auto calc(-1 * var(--spacing-x)); // Counter the <main> left-right padding

            > header {
                padding-bottom: 2em;

                h1 {
                    padding-bottom: 0.5em;
                }
                p {}
            }

            > article {
                padding-bottom: 1em;
                h2 {padding-bottom: 0.5em;}
                p {}
            }
        }

        div.menu {
            position: absolute;
            bottom: var(--spacing-y);

            display: flex;
            flex-flow: row nowrap;
            width: calc( 100vw - (var(--spacing-x) * 2));

            background-color: inherit;


            &.expand {
                button {
                    background-color: transparent;
                    border: .1rem solid var(--color-black);
                    margin: 0;
                    padding: 0;

                    font-size: 1em;
                    font-weight: 500;
                    color: var(--color-black);
                    line-height: 2.3em;
                    padding: 0 1em;
                    text-align: center;

                    flex: 1 1 50%;

                    border-radius: 0.2em;

                    &:first-of-type {
                        border-right: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        // transition: .3s;
                    }
                    &:last-of-type {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        background-color: var(--color-black);
                        color: var(--color-white);
                    }


                }
            }
        }

        &.expanded {
            padding-bottom: 0;

            > header {
                padding-bottom: 2em;
            }

            > section { //Recommendations
                padding-bottom: calc( var(--spacing-y) * 2.5);
                margin: auto calc(-1 * var(--spacing-x)); // Counter the <main> left-right padding
            }

            div.menu {
                background-color: transparent;

                &.expand {
                    button {
                        &:first-of-type {
                            color: var(--color-white);
                            border: .1rem solid var(--color-white);
                            border-radius: 0.2em;

                            > span {
                                display: none;
                            }

                            &::after {
                                display: block;
                                content: "Less ↑";
                                // text-indent: 0;
                                // line-height: 2.3em;
                                // font-size: 1em;
                                // display: block;
                            }

                        }
                        &:last-of-type {
                            display: none;
                        }
                    }
                }
            }

        }

        &:hover {
            background-color: var(--color-grey-light);
        }

    }

}

// DESKTOP
@media @desktop {
    section.block.expanding-content {
        // .expandable
        > article {
            > header {

            }

            > section { //Recommendations
                padding: var(--spacing-y) var(--spacing-x) calc( var(--spacing-y) * 1.5);
            }

            div.menu {
                width: auto;

                &.expand {
                    button {
                        padding: 0 3em;

                        &:first-of-type {
                        }

                        &:last-of-type {
                        }
                    }
                }
            }
        }
    }

}
