// block-mw-infographic.less
@import "../css/variables-static";

section.block.infographic {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-y) var(--spacing-x);
    margin-bottom: var(--spacing-y);

    background-color: var(--color-coral);
    border-radius: 1em;
    overflow: hidden;

    header {
        margin-bottom: var(--spacing-y);
        z-index: 99;

        h1 {
            padding-bottom: 2rem;
        }
        h2 {
            font-size: var(--font-size-biggish);
            padding-bottom: 2rem;
        }

        .buttons {
            background-color: var(--color-white);
        }
    }

    figure {
        overflow: hidden;
        z-index: 9;
        width: 130%;
        margin-bottom: -200%;
        transform: rotate(18deg) translate(-30%, -5%);

        img {
            width: 100%;

        }
    }

    main & { // If schild of main
        margin-top: var(--spacing-y);
    }


    // DESKTOP for BLOCK
    @media @desktop {
        flex-flow: row nowrap;
        margin-bottom: var(--spacing-x);
        padding: var(--spacing-x);

        header {
            margin-bottom: 0;

            h1 {
                font-size: var(--font-size-biggest);
            }
        }

        figure {
            width: 200%;
            margin-bottom: -400%;
            transform: rotate(18deg) translate(-70%, 1%);

            img {
                width: 100%;

            }
        }

    } // end of desktop styles

    //
    @media @medium {
        flex-flow: row nowrap;
        
        figure {
            width: 130%;
            margin-bottom: -200%;
            transform: rotate(18deg) translate(-30%, 5%);
        }
    }
}


// SLIDE
aside.slide {
    position: fixed; z-index: 99999;
    left: 0; right: 0;
    top: 0; bottom: 0;

    background-color: var(--color-black);
    overflow-x: hidden;
    overflow-y: scroll;

    transform: translateX(100vw); // Hide it
    width: auto;

    figure {
        width: 100%;

        img {
            width: inherit;
        }
    }

    div.buttons {
        position: fixed;
        // position: sticky;
        right: 0; top: 0;
        overflow: hidden;

        background-color: white;
    }

    &.started {
        transition: transform .5s ease;
    }

    &.opened {
        transform: translateX(0vw);
    }

    // DESKTOP for SLIDE
    @media @desktop {

        left: auto;
        max-width: var(--main-width-pad);

    } // desktop styles

}
