//
@import "../css/variables-static";

section.block.infographic {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-y) var(--spacing-x);

    background-color: var(--color-coral);
    border-radius: 1em;
    overflow: hidden;

    header {
        margin-bottom: var(--spacing-y);
        z-index: 99;
        background-color: inherit;

        h1 {
            padding-bottom: 2rem;
        }
        h2 {
            font-size: var(--font-size-biggish);
            padding-bottom: 2rem;
        }

        .buttons {
            background-color: var(--color-white);
        }
    }

    figure {
        overflow: hidden;
        z-index: 9;
        width: 130%;
        margin-bottom: -200%;
        transform: rotate(18deg) translate(-30%, -5%);

        img {
            width: 100%;

        }
    }


    // DESKTOP
    @media @desktop {
        flex-flow: row nowrap;

        header {
            margin-bottom: 0;
        }

        figure {
            width: 200%;
            margin-bottom: -400%;
            transform: rotate(18deg) translate(-70%, 1%);

            img {
                width: 100%;

            }
        }

    } // desktop styles


}

aside.slide {
    position: fixed; z-index: 99999;
    left: 0; right: 0;
    top: 0; bottom: 0;

    background-color: var(--color-black);
    overflow-x: hidden;
    overflow-y: scroll;

    transform: translateX(100vw); // Hide it


    figure {
        width: 100%;

        img {
            width: inherit;
        }
    }

    div.buttons {
        position: fixed;
        // position: sticky;
        right: 0; top: 0;
        overflow: hidden;

        background-color: white;
    }

    &.started {
        transition: transform .5s ease;
    }

    &.opened {
        transform: translateX(0vw);
    }

    // DESKTOP
    @media @desktop {

        left: auto;
        width: 1240px;
    } // desktop styles

}




// @import "../css/variables-static";
// @import '../css/mixins';
// @import '../css/icomoon';
//
// .block.zoom.infographic {
//     z-index: 1;
//     position: absolute;
//     width: calc(100vw - 1240px);
//     right: calc(calc(100vw - 1240px)*-1);
//     overflow: hidden;
//
//     img {
//         width: auto;
//         max-height: 100%;
//
//     }
//
// }
//
// .block.infographic {
//     overflow-x: hidden;
//     overflow-y: scroll;
//     //height: auto;
//     &.popup {
//         position: fixed;
//         right: 0; top: 0; bottom: 0;
//         z-index: 99999;
//         width: 100vw;
//         transform: translateX(0vw);
//         transition: transform .6s ease;
//
//         header {
//             position: sticky;
//             left: 0; top: 0; right: 0;
//
//             h1 {
//                 color: transparent;
//                 margin: 0;
//                 line-height: 1;
//                 font-size: 1em;
//                 display: none;
//             }
//
//             nav {
//                 position: absolute;
//                 top: 1rem; right: 1rem;
//
//                 .flex-display();
//                 .flex-flow(row nowrap);
//
//                 .button,
//                 button {
//                     border: 0;
//                     color: white;
//                     cursor: pointer;
//                     padding: 0;
//                     margin-left: 2em;
//                     text-decoration: none;
//
//                     &.close,
//                     &.download {
//                         background: transparent;
//
//                         &:after {
//                             font-family: 'icomoon';
//                             font-size: var(--font-size-p);
//                             margin-left: 0.5em;
//                         }
//                     }
//                     &.close {
//                         &:after {
//                             content: "\e900";
//                         }
//                     }
//                     &.download {
//                         &:after {
//                         content: "\e901";
//                         }
//                     }
//
//                 }
//
//             }
//
//         }
//
//     }
//     figure {
//         margin: 0;
//         max-width: 100%;
//
//         img {
//             width: 100%;
//             height: auto;
//         }
//     }
//     &.closed {
//         transform: translateX(100vw);
//     }
// }
//
// // DESKTOP
// @media (min-width: 1025px) {
//
//     .block.infographic {
//         &.popup {
//             width: 1440px;
//         }
//         &.closed {
//             transform: translateX(calc(100vw + 1440px));
//         }
//     }
// } // desktop styles
