// Block page-cover
@import "../css/variables-static";

header.block.cover {
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--color-black);
    color: var(--color-white);

    @header-size: 100vw;
    margin: 0 calc(-1 * var(--spacing-x)) var(--spacing-y); // Counter the <main> left-right padding
    overflow: hidden;

    >* { // All children
        position: relative; z-index: 99;
    }

    hgroup {
        order: 1;
        padding: var(--spacing-y) var(--spacing-x) 0;

        // background-color: blue;

        h1 {
            height: calc((@header-size / 2) - var(--spacing-y) );
            font-size: var(--font-size-bigger);
            // background-color: green;
        }
        h3 {
            font-size: var(--font-size-biggish);
            padding-top: var(--spacing-y);
        }

    }

    h2.series-title {
        order: 0;

        font-size: var(--font-size-bigger);
        color: var(--color-coral);
        font-weight: 500;
        line-height: 1em;

        padding: var(--spacing-y) var(--spacing-x) 0;
        height: calc((@header-size / 2) - var(--spacing-y) );

        // background-color: pink;

    }

    div.time {
        order: 2;
        margin: var(--spacing-y) var(--spacing-x);

        time.date, span.readtime {
            font-weight: 300;
            &:before {
                font-family: 'icomoon';
                font-size: var(--font-size-p);
                vertical-align: top;
                margin-right: .5rem;
            }
        }

        time {
            &:before {
                content: '\e903';
            }
        }

        span.readtime {
            margin-left: 1.5rem;
            &:before {
                content: '\e902';
            }
        }
    }

    figure.cover-image {
        position: absolute; z-index: 9;
        left: 0; top: 0;
        overflow: hidden;
        width: @header-size;
        height: @header-size;

        img {
            display: block;
            padding: 0;
            margin: 0;

            height: 100%;
            width: auto;
        }

    }

    //
    &.light {

    }

}

// DESKTOP
@media @desktop {
header.block.cover {
    @header-size: calc(var(--main-width-pad) / 2);
    height: @header-size;
    justify-content: flex-end;

    hgroup {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;

        >* { // All children
            flex: 1 1 50%;
        }

        h1 {
            height: auto;
            font-size: var(--font-size-title);
            align-self: flex-start;
        }

        h3 {
            font-size: var(--font-size-biggish);
            line-height: 1.5em;
            font-weight: 300;
            padding-top: 0;
            margin-left: var(--spacing-x);

        }

    }

    h2.series-title {
        margin-bottom: auto;
        height: auto;
    }

    div.time {
        margin-left: calc(@header-size + var(--spacing-y));
        time.date, span.readtime {
            font-size: var(--font-size-p);
        }

    }

    figure.cover-image {
        height: @header-size;
        width: @header-size;
    }

}
}// Desktop styles
