section.block.expanding-content {
  overflow: hidden;
  padding: 0 var(--spacing-x) var(--spacing-y);
  margin: auto calc(-1 * var(--spacing-x)) 0;
}
section.block.expanding-content > header {
  padding-bottom: var(--spacing-y);
}
section.block.expanding-content > header hgroup {
  padding-bottom: 2em;
}
section.block.expanding-content > header hgroup h1 {
  font-size: var(--font-size-bigger);
}
section.block.expanding-content article.expandable {
  position: relative;
  padding: var(--spacing-y) var(--spacing-x) calc(var(--spacing-y) * 2.5);
  margin: auto calc(-1 * var(--spacing-x));
  --background-color: var(--rgb-grey);
  background-color: rgba(var(--background-color), 1);
  will-change: height;
}
section.block.expanding-content article.expandable div.main > header {
  padding-bottom: calc(var(--spacing-y) * 3);
  display: flex;
  flex-flow: column nowrap;
}
section.block.expanding-content article.expandable div.main > header h1 {
  order: 1;
  padding-bottom: 0.5em;
  color: var(--block-color);
}
section.block.expanding-content article.expandable div.main > header div.meta {
  order: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: -5px 0 0.5em;
}
section.block.expanding-content article.expandable div.main > header div.meta > span {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: 300;
}
section.block.expanding-content article.expandable div.main > header div.meta > span.part-index {
  margin-right: 0.5em;
}
section.block.expanding-content article.expandable div.main > header div.meta > span.tag {
  font-size: var(--font-size-smallest);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.3rem;
  padding: 0.1em 0.5em;
}
section.block.expanding-content article.expandable div.main > header div.meta button.companion {
  height: 24px;
  margin-left: auto;
  margin-right: calc(-1 * var(--spacing-x) + 1em);
  background-image: url("../img/bkg-button-slide.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 60px;
  border: 0;
}
section.block.expanding-content article.expandable div.main > header div.meta button.companion span {
  display: none;
}
section.block.expanding-content article.expandable div.main > header p {
  order: 2;
  font-weight: 500;
}
section.block.expanding-content article.expandable div.main > p {
  padding-bottom: 1em;
}
section.block.expanding-content article.expandable section.recommendations {
  position: relative;
  z-index: 999;
  padding: var(--spacing-y) var(--spacing-x);
  margin: var(--spacing-x) calc(-1 * var(--spacing-x)) 0;
}
section.block.expanding-content article.expandable section.recommendations > header {
  padding-bottom: 2em;
}
section.block.expanding-content article.expandable section.recommendations > header h1 {
  padding-bottom: 0.5em;
}
section.block.expanding-content article.expandable section.recommendations > header p {
  font-weight: 500;
}
section.block.expanding-content article.expandable section.recommendations > article {
  border-left: 0.5em solid #fff;
  padding: 0 0 0 1em;
  margin-bottom: 2em;
}
section.block.expanding-content article.expandable section.recommendations > article h2 {
  font-size: var(--font-size-biggish);
  font-weight: 500;
  padding: 0 0 0.5em 0;
}
section.block.expanding-content article.expandable section.recommendations > article p {
  font-size: var(--font-size-small);
}
section.block.expanding-content article.expandable section.recommendations > article p a {
  color: inherit;
}
section.block.expanding-content article.expandable div.buttons {
  position: absolute;
  z-index: 9999;
  bottom: var(--spacing-y);
  left: var(--spacing-x);
  right: var(--spacing-x);
}
section.block.expanding-content article.expandable::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: var(--spacing-x);
  right: var(--spacing-x);
  border-bottom: 1px dashed var(--color-black);
}
section.block.expanding-content article.expandable.companion {
  overflow: hidden;
}
section.block.expanding-content article.expandable.companion div.main {
  padding-right: var(--spacing-x);
}
section.block.expanding-content article.expandable.companion div.main > header {
  padding-right: 15px;
}
section.block.expanding-content article.expandable.companion aside.companion {
  position: absolute;
  z-index: 99;
  height: 100%;
  right: var(--spacing-x);
  top: var(--spacing-y);
  background-color: inherit;
}
section.block.expanding-content article.expandable.companion aside.companion::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(var(--background-color), 0), rgba(var(--background-color), 1) 70%);
}
section.block.expanding-content article.expandable.companion aside.companion button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2em;
}
section.block.expanding-content article.expandable.color section.recommendations > header h1 {
  color: var(--block-color);
}
section.block.expanding-content article.expandable.color section.recommendations > article {
  border-left-color: var(--block-color);
}
section.block.expanding-content article.expandable.expanded {
  padding-bottom: 0;
}
section.block.expanding-content article.expandable.expanded div.main > header {
  padding-bottom: 2em;
}
section.block.expanding-content article.expandable.expanded section.recommendations {
  padding-bottom: calc(var(--spacing-y) * 2.5);
}
section.block.expanding-content article.expandable.expanded div.buttons {
  background-color: transparent;
}
section.block.expanding-content article.expandable.expanded div.buttons.expand button:first-of-type {
  color: var(--color-white);
  border: 0.1rem solid var(--color-white);
  border-radius: 0.2em;
}
section.block.expanding-content article.expandable.expanded div.buttons.expand button:first-of-type > span {
  display: none;
}
section.block.expanding-content article.expandable.expanded div.buttons.expand button:first-of-type::after {
  content: "Less ↑";
}
section.block.expanding-content article.expandable.expanded div.buttons.expand button:last-of-type {
  display: none;
}
section.block.expanding-content article.expandable:last-of-type::after {
  display: none;
}
section.block.expanding-content article.expandable:first-of-type {
  --background-color: var(--rgb-grey-light);
}
section.block.expanding-content article.expandable:first-of-type::after {
  display: none;
}
.block.sidenote {
  transition: opacity 0.3s;
  opacity: 0;
  position: fixed;
  z-index: 9999;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--color-grey);
}
.block.sidenote > p {
  padding: var(--spacing-y) var(--spacing-x);
  margin-top: var(--spacing-y);
}
.block.sidenote button {
  position: absolute;
  top: var(--spacing-x);
  right: var(--spacing-x);
}
.block.sidenote span.sup {
  content: '1';
  display: inline-block;
  position: absolute;
  top: var(--spacing-x);
  left: var(--spacing-x);
  background-color: transparent;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.2em;
  font-size: var(--font-small);
  font-weight: 500;
  color: #222222;
  line-height: 2.3em;
  text-align: center;
  padding: 0 1em;
}
.block.sidenote.opened {
  left: 0;
  opacity: 1;
}
@media only screen and (min-width: 1201px) {
  section.block.expanding-content > header hgroup h1 {
    font-size: var(--font-size-biggest);
    max-width: 60%;
  }
  section.block.expanding-content > header > p {
    font-size: var(--font-size-big);
  }
  section.block.expanding-content article.expandable div.main > header h1 {
    font-size: var(--font-size-bigger);
  }
  section.block.expanding-content article.expandable div.main > header > p {
    font-size: var(--font-size-biggish);
    font-weight: 400;
  }
  section.block.expanding-content article.expandable section.recommendations {
    padding: var(--spacing-y) var(--spacing-x) calc(var(--spacing-y) * 1.5);
    margin-top: var(--spacing-y);
  }
  section.block.expanding-content article.expandable section.recommendations > header h1 {
    font-size: var(--font-size-bigger);
  }
  section.block.expanding-content article.expandable section.recommendations > header > p {
    font-size: var(--font-size-biggish);
    font-weight: 400;
  }
  section.block.expanding-content article.expandable section.recommendations article {
    padding-right: var(--spacing-x);
  }
  section.block.expanding-content article.expandable section.recommendations article h2 {
    font-size: var(--font-size-big);
    font-weight: 400;
  }
  section.block.expanding-content article.expandable section.recommendations article p {
    font-size: var(--font-size-p);
    font-weight: 300;
  }
  section.block.expanding-content article.expandable div.buttons button,
  section.block.expanding-content article.expandable div.buttons .button {
    flex: 0 0 12rem;
  }
  .block.sidenote {
    width: auto;
    height: auto;
    max-width: 30rem;
    background-color: #DDDDDD;
    border: 1px solid #222222;
    border-radius: 0.2em;
  }
  .block.sidenote > p {
    padding: 2rem;
    margin-top: 0;
    font-size: var(--font-size-smaller);
  }
  .block.sidenote button {
    top: 0;
    right: 0;
  }
  .block.sidenote span.sup {
    position: relative;
    left: auto;
    top: auto;
    margin: 2rem 1em 0 2rem;
    float: left;
    font-size: var(--font-size-smaller);
  }
  .block.sidenote.opened {
    left: auto;
    top: var(--spacing-y);
    right: var(--spacing-y);
  }
}
/*# sourceMappingURL=block-mw-expanding-content.css.map */